<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Affiliated"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("affiliated.png", class: "big-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical"><%= "Affiliated is a mobile app for Greek life communities (fraternity and sororitity chapters) that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization nationwide."  %>
			</p>
</div>
<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Armon Battle"  %></p>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Xavi Ablaza"  %></p>
			<p class="typical list"><%= "Michael Pollind"  %></p>
			<p class="typical list"><%= "Aimee Bowen"  %></p>
			<p class="typical list"><%= "Alice Wong"  %></p>
			<p class="typical list"><%= "Elmer Camargo"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "UX Researcher"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Methods<h5>
			<p class="typical list"><%= "Sketching"  %></p>
			<p class="typical list"><%= "Wireframing"  %></p>
			<p class="typical list"><%= "Mock-ups"  %></p>
			<p class="typical list"><%= "Whiteboarding"  %></p>
			<p class="typical list"><%= "Survey"  %></p>
			<p class="typical list"><%= "Interviews"  %></p>
		</div>
</div>
<div class=" row z">
		<div class="col-lg-12 col-12 col-md-12" style="padding-left:0	">
		  <%= link_to "See First Iteration", "https://xd.adobe.com/view/8c6dd24b-ad89-441c-a712-7243cf0b5f0e", class: "btn btn-primary orange btn-ghost a" %>
		  <%= link_to "See Most Recent Prototype", "https://xd.adobe.com/view/94d0dcc2-b4b8-4312-8f04-f01413006ab8", class: "btn btn-primary orange btn-ghost a" style="padding-left:20px" %>
		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Background" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"> <%= "Affiliated, a startup owned by Armon Battle, contacted me and my team in User Experience Society to build the foundations of his application; a minimum viable product and a development plan. As this was my first project on a mobile platform, I was very much excited to get into the intricacies of developing cross-platform for iOS and Android.
" %>
	</p>	
</div>
<div class="row">
	<h3 class="big head"><%= "The Why" %> </h3> 
</div>
<div class="row ">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<%= image_tag("affiliated-2-08.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6	">
			<%= image_tag("affiliated-2-09.png", class: "erd-img") %>
	</div>
</div>
<div class=" row z">
	<p class="typical"><%= "After conducting their own independent preliminary research, Affiliated saw two possible opportunities. Armon and his team wanted to capitalize on the sense of belonging people feel upon joining a Greek Community (with a vast majority of people they surveyed expressing this as a common experience) and the sheer complexity of systems to keep everything running. As such, Affiliated seeks to make an application that streamlines organizational processes and sustains the connection between members in and out of college." %>
</div>
<div class="row">
	<h3 class="big head"><%= "The Who" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("affiliated-2-01.png", class: "erd-img" , style:"width:100% !important;") %>
</div>
<div class=" row ">
	<p class="typical"><%= "When we had a clear understanding of the goal that Affiliated wanted to achieve, we set out to define the personae that could be involved in the app using information from Armon and our own interviews. From this effort, we defined five potential key personae (potential members/pledges, executive board, active members, alumni, university admin). Due to a non-disclosure agreement, we're only allowed to show one of the personae: Ellie Briar, the executive board member.     
" %>
	</p>
</div>

<div class="row">
	<h3 class="big head"><%= "User Flows, Ideation, and Feature Prioritization" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("affiliated-2-05.png", class: "erd-img", style: "width:50% !important") %>
</div>
<div class=" row z">
	<p class="typical"><%= "Once we determined who we were designing for and what our design should achieve, my team individually wireframed their thoughts on the app on paper." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("affiliated-2-02.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= "After that, the whole team got together to whiteboard the whole process of interacting with the application. We critiqued our decisions based on heuristic guidelines and set out to determine the very core of this application. Some of the questions that we encountered in this process were:"  %>
	</p>
	<br>

</div>
<div class="row ">
		<div class="col-12 findings  ">
			<p class="typical list space">1. “How can we reinforce that sense of belonging for members in the application in and out of college?”</p>
			<p class="typical list space">2. “How do we design a self-sustaining social ecosystem?” </p>
			<p class="typical list space">3. “What internal processes do chapters think are the most difficult to sustain?” </p>
			<p class="typical list">4. “How do we streamline the process of getting ‘points’ to go to events when there are different ways to get them (points rewarded via tasks, study hours, and service hours)?” </p>
		</div>
</div>
<br>
<div class="row y">
			<%= image_tag("affiliated-2-04.png", class: "wired-img") %>
</div>
<br>
<div class=" row z">
	<p class="typical"><%= "Even with so many questions left unanswered, we decided to cut down our user flow to what’s, in actuality, relevant to our users. We set aside ideas like “putting your resume” and mentoring  in the application and focused on the basic experiential need that members of Greek organizations love; belonging.
" %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("affiliated-2-03.png", class: "wired-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= "From here we also contextualized the flow to our personae and showed their likely thought processes based on the information we have through interviews and prior research." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Prototyping and Mock-ups" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("affiliated-2-06.png", class: "wired-img") %>
</div>

<div class=" row z">
	<p class="typical"><%= "After the flow was set, I set out to create high fidelity mock-ups of the application. We also collaborated with the founders to design the icons to match the vibe of the application." %>
	</p>
	<br>
		<br>
		<br>
</div>
<div class="row y">
	<br>
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/8c6dd24b-ad89-441c-a712-7243cf0b5f0e" frameborder="0" allowfullscreen></iframe>
	<br>
</div>
<div class="row">
	<p class="mr-auto ml-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's clickable" %> </p>
	<br>
</div>

<div class=" row z">
	<p class="typical"><%= "Afterwards, we made a prototype and conducted a few contextual inquiries with sorority and fraternity members. They liked that they can make different channels and feeds and further stated that it would eliminate the need for them to maintain different Facebook pages. They also liked the fact that the design is familiar as they know exactly where things are. They also said that the colors could pose a problem when considering the idea that organizations' colors and letters hold weight in this sort of community."  %>
	</p>
	<br>
</div>
<div class=" row z">
		<div class="col-lg-4 col-6 col-md-4" style="padding-left:0	">
		  <%= link_to "See Prototype", "https://xd.adobe.com/view/8c6dd24b-ad89-441c-a712-7243cf0b5f0e", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Clarifying Brand" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("affiliated-2-10.png", class: "wired-img") %>
</div>
<div class=" row z">
	<p class="typical">After talking with the founders of Affiliated about the concern on color, they opened up that didn't have any preference due to having no brand manual. Hence, we focused on defining what the whole organization is like as a brand so that we could design better with direction. We defined that the brand is <strong>professional, young, and growing</strong>. We then started our efforts by choosing a neutral 'power' color, black, for the brand's main palette while using eclectic yellow and neon green as accents.  Afterwards, we made accompanying icons (which we styled as leaves to go with the logo) to strengthen the connection to the perceived brand.
	</p>
	<br>
</div>
<div class="row y">
	<br>
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/94d0dcc2-b4b8-4312-8f04-f01413006ab8" frameborder="0" allowfullscreen></iframe>
	<br>
</div>
<div class=" row z">
	<p class="typical"> We then started changing how the user interface of the app to better reflect the brand that affiliated wanted to reflect.
	</p>
	<br>
</div>
<div class=" row z">
		<div class="col-lg-4 col-6 col-md-4" style="padding-left:0	">
		  <%= link_to "See Prototype", "https://xd.adobe.com/view/94d0dcc2-b4b8-4312-8f04-f01413006ab8", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Current Situation" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "We're currently segregating the application into buildable sections, structuring the database, preparing the whole idea for presentation to venture capitalists, and further testing our prototype with four more related personae to refine usability." %>
	</p>
	<br>
</div>




<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
	<div class="portfolio fix">
		<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | " %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as  ml-auto mr-auto" style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("tbrooks-min.jpg", class: 'card-img-top'), main_case6_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Senator Campaign Website", main_case6_path %></h4>
   				<p class="card-text" style ="font-style: italic"><%= "| interaction design | branding | web development" %>
   		    	</p>
			 </div>
			  <div class="card-block">
					<p class="card-text"><%= "Tyler Brooks ran as a senator for Chapman University's Student Government Association. He wanted to get a competitive edge during his campaign and as such enlisted my team to help with his website." %></p>
			    	    	 		<%= link_to "See the Case Study", main_case6_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>
		</div>

		</div>
	</div>	
</div>
</div>
</div>
<br>
<br>
</div>