<div class="cover">
<br>
<div class="x">
	<div class="row y">
				<h1 class="title3 pink-text"><%="Animaze Onboarding"%></h1>
	</div>
<br>
<br>
<div class="row y">
			<%= image_tag("animazeftue.png", class: "wired-img") %>
</div>
<div class="row">
		<br>
</div>
<div class="row z">
			<p class="typical"><%= "Throughout Spring 2020, I designed an onboarding experience for Animaze iOS that increased day-to-day retention by 15% and shares per DAU by 15%."  %>
			</p>
</div>
<div class="row">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "My Roles" %><h5>
			<p class="typical list"><%= "UX Design"  %></p>
			<p class="typical list"><%= "UX Research"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "Tools Used" %> <h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "Zeplin"  %></p>
			<p class="typical list"><%= "UserTesting"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "Research Methods"%><h5>
			<p class="typical list "><%= "Unmoderated User Testing"  %></p>
			<p class="typical list"><%= "AB Testing"  %></p>
      <p class="typical list"><%= "Concept Testing"  %></p>
      <p class="typical list"><%= "Split Testing"  %></p>
		</div>

</div>
<div class="row">
	<h3 class="big head"><%= "Become a 3D Avatar on Animaze" %> </h3>
</div>
<div class=" row z">
	<p class="typical"><%= "Animaze is a mass-market app that utilizes face-tracking technology to let people create entertaining videos/photos using 3D Avatars."%>
	</p>
	<br>

</div>
<div class="row y">
			<%= image_tag("animaze3.gif", class: "gif-img") %>
</div>
<div class="row y">
	<div class="col-lg-12 col-12 col-md-12" style="padding-left:0	">
		<%= link_to "Download the App", "https://apps.apple.com/us/app/animaze-avatar-by-facerig/id1466925554", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row y">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "An App for People into Memes and Streaming" %> </h3>
</div>

<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "After getting access to user testing capabilities, we found out that our product's promoters (NPS) were very interested in memes and with streaming online but they struggle to find the confidence to do so." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze2.png", class: "wired-img") %>
</div>

<div class="row">
	<h3 class="big head"><%= "Problems" %> </h3>
</div>

<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "Before building a feature, our team collectively decides if it makes sense in our roadmap after we check-in with previous qualitative and quantitative research." %>
	</p>
	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left">1.) <b>Lack of Feature Usage.</b> Testers weren't using our full set of features in the app to its maximum capability. One feature that tested very well during its conceptual stages was only used 20% of the time.</p>
			<p class="typical list  space m-left">2.)<b> Day 1 Retention could be better.</b> On our last significant feature release, we found out we weren't hitting our metrics on retention even if we gave our users what they asked for.</p>
			<div class="row y">
						<%= image_tag("animazeftue16.png", class: "erd-img") %>
			</div>
			<p class="typical list  m-left">3.) <b>Users who browed our Discover feature made funny videos.</b> Animaze has an explore feature that functions exactly like Instagram's. Our users were starting to make content and referencing the Discover feature as inspiration. </p>
			<br>
			<div class="row y">
					<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/caAAKn0ins8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			</div>
	</div>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Hypotheses" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "We tailored our hypotheses given the concerns that were raised during our meeting and we came to the following: " %>
	</p>
</div>
<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
		<p class="typical list space m-left">1.) If we made a simple onboarding experience that had people go through our <b>main feature set,</b> our <b>day-1 retention</b> will increase because people will have a better understanding of how to use the app.</p>
		<p class="typical list  space m-left">2.) If we made an onboarding experience that had people go through our <b>Discover feature,</b> users will understand what they can create with Animaze and <b>make entertaining videos themselves.</b></p>
			<p class="typical list  m-left">3.) If we made an onboarding experience that had people go through <b>a simple rewards system</b> they're more likely to <b> retain </b> over a while and create a natural <b> acquisition funnel for our app.</b></p>
		<br>
</div>
<div class="row">
	<br>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Initial Wireframes Received" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "We initially hired a third-party contractor who had a lot of experience with first-time user experiences to handle the feature. Because of COVID-19, we had to pivot and the project landed in my hands. I used the wireframes above as the starting point for my mockup." %>
	</p>
</div>
<div class="row">
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue2.gif", class: "gif-img") %>
</div>
<div class="row">
	<h3 class="big head"><%= "Working on a Simple Rewards Feature" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Right about the time I got this project, I was already neck-deep working on a simple rewards feature that will help people retain while also allowing them to get more in-app currency by sharing videos and photos they make. For each milestone, they reach they get a static coin reward. We had plans to intermingle this design with the onboarding experience we were creating." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue7.png", class: "erd-img") %>
</div>
<div class="row">
	<h3 class="big head"><%= "Creating Hi-fi Mock-ups" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Because we immediately wanted to start testing our prototype due to tight timelines, I opted to follow the design the contractor set, laid it out as a prototype, got feedback from the rest of my team, before deciding to test it on UserTesting.com." %>
	</p>
	<br>
</div>

<div class="row y">
			<%= image_tag("animazeftue3.png", class: "wired-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Flowchart" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> Here is the full flow that the whole team got to after scoping everything, seeing the research, the contractor's wireframes, and my updated mock-ups.</b>
	</p>
	<br>
</div>


<div class="row y">
			<%= image_tag("animazeftue4.png", class: "wired-img") %>
</div>
<div class="row">
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Learnings from the Prototype" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> We built out the prototype on InVision and then ran the user test with 10 testers on UserTesting.com to get immediate learnings. Here's what we learned:
	</p>
	<br>
</div>
<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
		<p class="typical list space m-left">1.) When asked how helpful both onboarding flows were, testers rated the Avatar flow an average of <b>4.6 out of 5.0</b> and
the Discover flow an average of <b>4.2 out of 5.0. </b></p>
<div class="row y">
			<%= image_tag("animazeftue5.png", class: "wired-img") %>
</div>
		<p class="typical list  space m-left">2.) <b> Our testers preferred the avatar flow BUT there was a desire to learn more about the discover feed</b> and some testers that picked neither wanted to do both.</p>
		<div class="row y">
				<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/CCyQvcceY5k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
		<br>
	  <br>
		<br>
			<p class="typical list  space m-left">3.) All 10 testers answered that the <b>onboarding experience was helpful</b> but added that there were still things that they <b>didn't understand like Animations and Backgrounds.</b></p>
		<div class="row y">
				<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/Fptuw6YJzsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
		<br>
		<br>
		<br>
		<p class="typical list  space m-left">4.) Some of them <b> don't understand how shares for the rewards systems worked, implying that the visual presentation of the feature needed work.</b></p>
	<div class="row y">
			<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/1bgpwHDAegM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Rewards Entry Point Testing" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "In response to the entry point for Rewards being not clear, I ran an additional concept test where I had people go through 3 different icons and then a split test where I had people select between the winner of the first test or the original design. In the end, the trophy representation won because it implied that the users will get something out of it, unlike the share icon which had such mixed interpretations. " %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue6.png", class: "wired-img") %>
</div>

<div class="row">
	<h3 class="big head"><%= "Revisions on the Rewards Design " %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "On top of changing out the entry point, we also simplified how we represent rewards. We were originally going to do a dynamic map that lit up different points as the user progressed through the milestones. Instead, we opted to just place a counter and put in a static map to lessen the engineering work as requested by my team." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue15.png", class: "big-img") %>
</div>
<div class="row">
	<h3 class="big head"><%= "Tooltips" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "In response to our users wanting to learn more about how the basics of our other features, we made a scalable tooltips system that can be triggered by certain events." %>
	</p
	<br>
</div>

<div class="row y">
			<%= image_tag("animazeftue9.png", class: "wired-img") %>
</div>


<div class="row y">
			<%= image_tag("animazeftue10.png", class: "erd-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
		<h3 class="big head"><%= "Spec Writing" %> </h3>
</div>
	<div class=" row z">

		<p class="typical" style="margin-bottom:0"> <%= "I wrote three different documents that detailed the design components for the following features:
			Rewards, Tooltips, First Time User Experience. I gathered all relevant files and Zeplin screens and then I linked them to the file so the engineers can easily access them. We then had 3 different spec reviews for all three." %>
		</p
		<br>
	</div>

	<div class="row y">
				<%= image_tag("animazeftue11.png", class: "big-img") %>
	</div>
	<div class="row">

	<h3 class="big head"><%= "QA Tickets" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "When each of the three specs were built, I was given a staging build to test. Did a playthrough and then screen recorded and screenshotted the bugs. I wrote tickets about the bugs in the JIRA adding in annotated images when possible." %>
	</p>
	<br>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue12.png", class: "big-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>

<div class="row">
	<h3 class="big head"><%= "Learnings from the Staging Build" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "I ran a follow-up test with 10 people that fit our target user profile and had them do a split test between both flows again. People favored the Avatar Path based on the net positive NPS score for the segment of testers that went through the avatar path as opposed to Discover which created a net negative NPS. On the Discover Path, however, people were making VERY interesting and entertaining videos." %>
	</p>
	<br>
</div>

<div class="row y">
			<%= image_tag("animazeftue13.png", class: "big-img") %>
</div>
<div class="row">
	<br>
</div>
<div class="row y">
		<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/FIAma18JTU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="row">
	<br>
	<br>
</div>

<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Learning from A/B Testing Both Paths" %> </h3>
</div>
<div class="row z">

	<p class="typical"> We started purchasing installs from Facebook so that we can get something quantitatively significant for research insights. We split our users into three shards: control, the discover path, and the avatar path. Here's what we got in terms of results:
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animazeftue14.png", class: "erd-img") %>
</div>
<div class="row">
	<h3 class="big head"><%= "Decisions and Next Steps"  %> </h3>
</div>
<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
		<p class="typical list space m-left">1.) We ended up pushing ALL our users through the Avatar Path in future releases knowing that people vastly prefer the Avatar Path in our qualitative research.</p>
		<p class="typical list  space m-left">2.) We’re revising our First Time User Experience now given new research insights that Tiktokers are our most common type of user. </p>
			<p class="typical list m-left">3.) We’re trying to figure out how to introduce people videos from the Discover feature. </p>
		<br>
</div>

<br class="hide-xs">
<br class=" br hide-xs">
<br class=" br hidden-md-down">

<div id="portfolio" class="br">
<br class="hide-xs">
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
          <div class="card">
            <%= link_to image_tag("dibs.png", class: 'card-img-top'),main_case1_path %>
            <div class="card-header">
                 <h4><%= link_to "Dibs Marketplace", main_case1_path %></h4>
             <p class="card-text" style ="font-style: italic"><%= "interaction design | app development | visuals " %>
              </p>
           </div>
            <div class="card-block">

              <p class="card-text"><%= "With Dibs, I designed an app that helps women interested in wellness and fitness
                afford the lifestyle they want through microincentives. 6 weeks after launch,
                it got 1.5k users." %></p>
                          <%= link_to "See the Case Study", main_case1_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
            </div>
          </div>


      </div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
						<div class="card">
							<%= link_to image_tag("dibsdash1.png", class: 'card-img-top'),main_case11_path %>
							<div class="card-header">
									 <h4><%= link_to "Dibs Booking Platform", main_case11_path %></h4>
							 <p class="card-text" style ="font-style: italic"><%= "interaction design | web app | design system | b2b" %>
								</p>
						 </div>
							<div class="card-block">

								<p class="card-text"><%= "With Dibs, I designed a booking platform that helps fitness studio owners
									manage their operations, understand their business' sales, and keep their customers coming back." %></p>
														<%= link_to "See the Case Study", main_case11_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
							</div>
						</div>
			</div>

	</div>
</div>
</div>
	</div>
</div>
</div>
