<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Meditate Awake"%></h1>
</div>
<br>
<div class="row y">
			<%= image_tag("meditateawake.png", class: "wired-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical">Meditate Awake is an application that helps beginner meditators increase
        their meditation time from 5 minutes to 20 minutes through progress tracking and community
        engagement.
			</p>
</div>
<br>
<div class="row ">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "UX Researcher"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Tools Used<h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "Zeplin"  %></p>
			<p class="typical list"><%= "Adobe CC"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list "><%= "Contextual Interviews"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>
      <p class="typical list"><%= "A/B Testing"  %></p>
      <p class="typical list"><%= "Surveys"  %></p>
		</div>

</div>
<div class="row">
	<h3 class="big head"><%= "Context" %> </h3>
</div>
<div class=" row z">
	<p class="typical"><%= "Meditate Awake is a small company based in Santa Monica,
  California  currently looking to make its first entry into the fitness and mindfulness market
  with an iOS app. Over the course of a few months, I freelanced and made the preliminary design of their app
  over the course of two design iterations (discovery, ideation, implementation, testing)."%>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Problem" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "How might we educate and facilitate
  beginner meditators to improve to their meditation time of 5 minutes to 20 minutes over time?" %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Hypothesis" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "We can get beginner meditators to a 20 minute average meditation time
  by helping them keep track of their progress and by keeping them accountable on their habit by encouranging community engagement." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Project Goals and Specifications" %> </h3>
</div>
<div class="row ">
  <p class="typical"><%= "As a consultant, we did our best to hash out our client's expectations and needs. To keep within scope amidst changing expectations, we set a couple of goals with our client: " %>

		<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
			<p class="typical list space">1. Streamline the meditation and goal-setting process through an MVP </p>
			<p class="typical list space">2. Connect the process of meditation and goal-setting to an actual daily life experience</p>
      <p class="typical list">3.Set-up a quantitative way to measure how the product is doing in terms of fulfilling the user’s goals </p>
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Beginner Meditator" %> </h3>
</div>
<div class ="row z">
	<br>
	</p>
</div>
<div class="row y">
			<%= image_tag("meditateawake2.png", class: "wired-img") %>
</div>
<div class ="row z">
<p class="typical"><%= "In order to get fast and easy with the initial discovery phase, we started out research by observing diary studies on youtube about people meditating for a week and even up to a month.
We also watched expert classes and talks about meditation to see what they could possibly offer a beginner with their advice. With that out of the way, we started to try resonate with the personal experience of a user just starting out on meditation. " %>
</p>
	<p class="typical" style="margin-bottom:0">  <strong>However, there are three main takeaways here: </strong></p>

<div class=" row z">


	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left"><%= "Beginners have a preconceived notion on what meditation is to be like which blocks them from being able to relax." %></p>
			<p class="typical list  m-left"><%= "Psychologically speaking, beginners don't exactly know how to easily dispose of a thought and let it go"  %></p>
			<p class="typical list  m-left"><%= "People have a multitude of reasons for meditating and they typically fall under self-improvement, sleep, and mental health"  %></p>

	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Flow" %> </h3>
</div>
<div class="row y">
			<%= image_tag("meditateawake3.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Establishing the base experience of the app had to come first when it came to designing for this specific problem. Although we wanted to specifically increase
	the average meditating time of our users to 20 minutes, we needed to make it easy for them to be able to meditate, to make it a habit, and to be able to measure their success." %>
	</p>

</div>
<div class="row">
	<h3 class="big head"><%= "The First Iteration" %> </h3>
</div>

<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After building out a basic process and establishing what absolutely needed to be there to achieve our user's goals,
	my client and I wanted to explore how we can keep our users accountable for their meditation habit and facilitate retention.  " %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="head"><%= "Whiteboarding and Wireframing" %> </h3>
</div>
<div class="row y">
			<%= image_tag("Meditateawake4.png", class: "erd-img") %>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "We started exploring ideas individually first before we came together remotely on InVision Freehand.
	Eventually we got with two possible solutions we wanted to test:
	" %>
	</p>
	<br>
	<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
		<p class="typical list space">1. Having an onboarding screen prior to the actual meditation (by introducing friction). </p>
		<p class="typical list">2. Setting-up a community engagement</p>
	</div>
	<br>

</div>

<div class="row">
	<h3 class="head"><%= "Onboarding as a Possible Solution" %> </h3>
</div>

<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "Given the amount of misconceptions
	that beginners make about meditation (ie. meditating and looking like a monk),
  we hypothesized that we can inform them to meditate better by providing expert tips before
	starting a meditation. This screen provides enough friction between the user and their job-to-be-done
	of wanting a meditation without blocking the user too heavily from their desired goal.""
	" %>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake5.png", class: "wired-img") %>
	</div>
	<br>
</div>
<div class="row">
	<h3 class="head"><%= "Community Engagement a Possible Solution" %> </h3>
</div>

<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "One proposal made by our client
	was establishing a community of like-minded people. In the yoga and meditation studios,
	being around other people with the same mindset could possibly assist in making you perform
	better through social pressure. We decided to add this in preliminary by showing what others learned in the meditation.

	" %>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake6.png", class: "wired-img") %>
	</div>
</div>
<div class="row">
	<h3 class="head"><%= "Testing " %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "After having built out a couple of screens
	we tested with people by building out an InVision prototype. Through user testing, we wanted to verify if onboarding was a
	favorable way to educate and whether or not the social engagement aspect of the app could work as either a retention strategy
	or as a way to motivate our users. We eventually tested this app with 6 people who meditated, half of them male, half of them female
	from ages 21-40.
	" %>
	<br>>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
		<%= link_to "Read Our Testing Plan", "https://docs.google.com/document/d/1TEi4X0Yg5hRdpMtn2gdz_MRIO0R561wnBtyYO93-z2U/edit?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
	</p>
</div>
<div class="row">
	<h3 class="head"><%= "Findings" %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "After having went through our notes, we found that
	people thought of meditation as a PERSONAL experience, and as such having the social aspect structured like that
	wasn't entirely effective at motivating them to keep their meditation habit. We got mixed opinions as well with the social media
	feed our client requested.
	" %>
	<br>>

	</p>
</div>
<br class="hide-xs">
<br class=" br hide-xs">
<br class=" br hidden-md-down">
<div id="portfolio" class="br">
<br class="hide-xs">
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("xo.jpg", class: 'card-img-top'), main_case8_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Inspire-me Redesign", main_case8_path %></h4>
			   <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | seo | a/b testing" %>
		    	</p>

			 </div>
			  <div class="card-block">
					<p class="card-text"><%=  "An acquisition strategy for the Knot, my internship project sought to help newly engaged brides get inspired and educated about wedding themes through a visual discovery experience"%></p>
			    	    	 		<%= link_to "See the Case Study", main_case8_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("affiliated.png", class: 'card-img-top'), main_case7_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Affiliated", main_case7_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | interaction design | user research |  " %>
		    	</p>
			 </div>
			  <div class="card-block">

			    <p class="card-text">   <%= "A mobile app for Greek life communities that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization nationwide." %></p>


			 		<%= link_to "See the Case Study", main_case7_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>
			</div>
		</div>
	</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<br>
<br>
</div>
