<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Trace, a Habit Tracker"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("trace-00.png", class: "big-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical"><%= "A personal passion project, Trace is a habit tracker inspired by bullet journalling. Currently in its first few iterations, it hopes to assist in meeting personal goals for young proffesionals."  %>
			</p>
</div>
<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Xavi Ablaza"  %></p>
			<p class="typical list"><%= "Michael Pollind"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "Developer"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Methods<h5>
			<p class="typical list"><%= "Lean UX Project Management"  %></p>
			<p class="typical list"><%= "User Testing"  %></p>
			<p class="typical list"><%= "Survey"  %></p>
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Why" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("trace-01.png", class: "erd-img" , style:"width:100% !important;") %>
</div>
<div class=" row z">
	<p class="typical">Trace started out as an idea I had when I got tired of tracking my habits on a bullet journal. Originally, I got into it as a means to keep myself steady amidst the stress. I, however, didn't want to lug around a thick journal with me every day but, at the same time, I wanted to be able to have a nice overview of my personal goals. With Fieldagent.com citing <strong > <a style="color:#f4427a" href="http://blog.fieldagent.net/millennials-boomers-new-years-resolutions-5-key-generational-differences"> that 94% of millennials reported making personal improvement commitments</a></strong>, I tried to see if I could design an app that resonated with both me and my peers. 
	</p>	
</div>
<div class="row">
	<h3 class="big head"><%= "The Who" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("trace-02.png", class: "erd-img" , style:"width:100% !important;") %>
</div>
<div class=" row ">
	<p class="typical"><%= " After setting the goal and problem that the application solves, my team and I immediately went off trying to better understand our potential users by researching attitudes through Euromonitor articles and by interviews. Eventually, we ended up visualizing Summer Lily and making preliminary assumptions about her. From there, we determined what our app should be capable of doing, and how it should make the user feel." %>
	</p>
</div>

<div class="row">
	<h3 class="big head"><%= "Wireframing and Prototyping" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("trace-03.png", class: "wire-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= "Once we determined who we were designing for and what our design should achieve, we set out on how the workflow should be like and what preliminary features should be put in by creating wireframes" %>
	</p>
	<br>
</div>
<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/0d44227d-f4d5-490f-80b7-e01bab068274" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
	<p class="mr-auto ml-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's clickable" %> </p>
	<br>
</div>
<div class=" row z">
	<p class="typical"><%= "After creating the first interactive prototype of our application, we had our prototype tested by avid bullet journaliers and young self-driven millennials remotely. We heard their comments without any sort of input from us. We just gave them a link and listened and noted down what they said." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
 	 <%= link_to "See User Testing Results", "https://drive.google.com/open?id=0B_FrSfuPKli9VlFtbWF2aTV5NzA", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Current Situation" %> </h3> 
</div>
<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/14be2650-b01e-4427-b0b4-704301124d78" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
	<p class="ml-auto mr-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's clickable" %> </p>
	<br>
</div>
<div class=" row z">
	<p class="typical"><%= "As of the moment, this is the most recent interactive prototype of our application. For the most recent high-fidelity frames with updated visuals, refer below." %>
	</p>
	<br>
</div>
<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/e146a783-0a5a-41b7-850e-51c8edf8c4a4" frameborder="0" allowfullscreen></iframe>
</div>
<div class=" row z">
	<p class="typical"><%= "Currently, my team and I are developing the application in our spare time and hope to release a working alpha within two months." %>
	</p>
	<br>
</div>




<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
	<div class="portfolio fix">
		<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | market research |" %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("burger king 2.png", class: 'card-img-top'),main_case3_path %> 
				  <div class="card-header">
				  	   <h4><%= link_to "Burger King Analysis", main_case3_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| market research | brand management | project management | " %>
			    	</p>
				 </div>
				  <div class="card-block">
				 
				    <p class="card-text"><%= "Along with four others, I analyzed how Burger King was performing in the Philippines as a brand and as a company. From there, we provided a few suggested improvements to their managers." %></p>
				    	    	 		<%= link_to "See the Case Study", main_case3_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
				<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as"  style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("heckyea1.png", class: 'card-img-top'), main_case5_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Heck Yea! Team Website", main_case5_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| UX Design | UX Research | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "Heck Yea! Team is an Auto Collision Repair Shop group, endorsed by Mclaren, Lamborghini, and more, that sought me out to have a new website designed engagingly according to their brand." %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case5_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		</div>
	</div>	
</div>
</div>
</div>
<br>
<br>
</div>