<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Dapper"%></h1>
</div>
<br>
<div class="row y">
			<%= image_tag("dapper.jpg", class: "wired-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical">With Vibelyst Inc, I managed the development and design of Dapper, an app that get your shoes picked-up, shined, and delivered. It can be downloaded from the <a href="https://itunes.apple.com/us/app/dappernyc/id1381468910?mt=8">App Store.</a>
			</p>
</div>
<br>
<div class="row ">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "Project Manager"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Tools Used<h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "JIRA"  %></p>
			<p class="typical list"><%= "Zeplin"  %></p>
			<p class="typical list"><%= "Adobe CC"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list "><%= "Contextual Interviews"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>
		</div>

</div>
<div class=" row z">
		<div class="col-lg-12 col-6 col-md-12" style="padding-left:0	">
		  <%= link_to "Download the App", "https://itunes.apple.com/us/app/dappernyc/id1381468910?mt=8", class: "btn btn-primary orange btn-ghost a" %>
		  <%= link_to "See Our Website", "http://dapper.vibelyst.com", class: "btn btn-primary orange btn-ghost a space3" %>

		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Context and Old Design" %> </h3>
</div>
<div class="row y">
			<%= image_tag("dapper3.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= "Dapper is a mobile application designed for the fast-paced lifestyles of well-groomed businessmen in New York. Whether they're a lawyer, banker, or salesman, we sought out to make it easier to stand out in their meetings by making shoe-shining convenient. Before I got on the project, an existing design was already in place. I considered elements of it as I went to start making an updated design." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Problem" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "How might we craft the process of getting a shoe shine to optimally capture early sales for Dapper?" %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Hypothesis" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "We can capture sales optimally by making the process of getting a shoe shine as simple as possible to understand and do" %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Project Goals" %> </h3>
</div>
<div class="row ">
		<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
			<p class="typical list space">1. Design and manage the development of an iOS application (MVP) from start to finish.</p>
			<p class="typical list space">2. Create a landing page that can funnel leads from marketing initiatives and organic search (SEO) to the app store. </p>
			<p class="typical list">3. Create a brand that our customers can resonate with. </p>

		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Fast-Paced Businessman" %> </h3>
</div>
<div class ="row z">
	<br>
	<p class="typical"><%= "Given the fast time-frame of development (four one-week sprints), I started researching the persona by reading blog posts and articles made by businessmen who often detailed their professional lives (and sometimes personal). I also augmented it with three interviews with people who fit into the demographic that we're after. With all this information, I built an empathy map to guide me as I designed.   " %>
	</p>
</div>
<div class="row y">
			<%= image_tag("dapper2.png", class: "wired-img") %>
</div>
<br>
<div class=" row z">
	<div class ="row z">
	<p class="typical"><%= "Although the exercise only expounded on one vertical, there are a lot of common insights here that also apply to those in finance and similar verticals. Men in this sort of demographic are subtly pressured by the expectations by their office environments to keep the suit and tie look. Moreover, they all exist in high-stress environments where reputation and interpersonal relationships matter." %>
	</p>
</div>
	<p class="typical" style="margin-bottom:0">  <strong>However, there are two main takeaways here: </strong></p>
	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left"><%= "Businessmen are typically loyal to grooming providers (barbers, tailors, shoe shiners) nearby and would prefer to have an in-person experience over an impersonal one." %></p>
			<p class="typical list  m-left"><%= "They will however deviate from that experience if it allowed them to save time for the same quality service"  %></p>

	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Funnel and Flow" %> </h3>
</div>
<div class="row y">
			<%= image_tag("dapper4.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "As a newly established service, Dapper had to establish a funnel for sales to get going. As such, I wasn't limited to just designing for the mobile app. I also touched on print, mobile web, and desktop web to have an acquisition funnel set-up. Given this, I had to not only consider usability when making my designs but also relatability to the audience." %>
	</p>

</div>
<div class="row">
	<h3 class="big head"><%= "iOS App User Flow" %> </h3>
</div>

<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Before we even invested in getting our first users, Dapper had to nail the experience of getting a shoe shine from their phone by making it as easy as possible. As such, I had to identify what the user might think as they enter our service while keeping in mind their biggest concerns. " %>
	</p>
	<br>
<div class="row y">
			<%= image_tag("dapper5.png", class: "wired-img") %>
</div>
</div>
<div class="row">
	<h3 class="big head"><%= "iOS Prototype" %> </h3>
</div>

<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After wireframing and sketching initial UI solves that addressed the key points, I designed an ideal version and a barebones MVP that can be developed. Given there was information written on the sketches and wireframes about unreleased feature, I unfortunately can't show those." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "Download Dapper's App", "https://itunes.apple.com/us/app/dappernyc/id1381468910?mt=8", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<br>
<br>
<div class="row y invision">
	<iframe class="invision" width="454" height="900" src="https://invis.io/YQL3Z2KNSCT#/296195168_Shine" frameborder="0" allowfullscreen></iframe>
	<br>

</div>
<br>
<br>
<div class="row">
	<h3 class="big head"><%= "Compromises and Prioritization" %> </h3>
</div>
<div class="row y">
	<div class="col-lg-4 col-sm-12 col-xs-12 ml-auto mr-auto">
			<%= image_tag("dapper10.png", class: "erd-img") %>
	</div>

</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Even though an ideal version did exist, we had to release quite fast and keep everything in-line with the roadmap stakeholders made for our team. I had multiple discussions with our developers, account manager, and CEO in  regards to what features to prioritize and roll-out. One example of this is limiting our service area coverage (shown in the picture).  " %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Development and QA" %> </h3>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "For smooth operations, I handed off the assets I had for all designs needed for development using Zeplin, communicated with our developers here in NYC and in Singapore the expected behavior of the interface, listed down the acceptance criteria in JIRA, and QA'ed with our remote analyst in India. " %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Testing" %> </h3>
</div>
<div class="row y">
			<%= image_tag("dapper9.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "With our app launched, we're currently in the midst of testing our app more thoroughly in tandem with our sales.   We're also getting reviews from the App Store as well and we're using that as a basis for future design decisions. Beyond that, we also did 3 usability testing sessions with people that fit the demographic that we're after. " %>
	</p>
	<br>
	<br>
	<p class="typical" style="margin-bottom:0; margin-top:20px">  <strong>Here's what we learned: </strong></p>
	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left"><%= "1. Users were skeptical of the legitimacy of the service when mentioned that only debit cards can be used with it." %></p>
			<p class="typical list  space m-left"><%= "2. Users would rather have their shoes picked-up and shined while they're at home than go wear slippers while they're in the office and waiting for the shine."  %></p>
			<p class="typical list space  m-left"><%= "3. Weather dramatically affects whether they'll get a shine or not."  %></p>
			<p class="typical list space m-left"><%= "4. Users preferred the map view when selecting a location given that it actually specifies the service coverage."  %></p>
			<p class="typical list space m-left"><%= "5. We got an average score of 8.5/10 in terms of ease-of-use."  %></p>

	</div>

</div>
<div class="row">
	<h3 class="big head"><%= "Landing Page" %> </h3>
</div>
<div class="row y">
			<%= image_tag("dapper7.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After having the launched and gone through initial testing, we had to figure out how to implement the rest of our funnel to get more users. To work in tandem with our marketing, we had to get a landing page that succinctly communicated our value proposition and brand. This was one of the initial versions we've made." %>
	</p>
	<br>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Dapper's Website", "http:/dapper.vibelyst.com", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>

<div class="row">
	<h3 class="big head"><%= "Printed Flyers" %> </h3>
</div>
<div class="row"style="margin-bottom:30px;">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<%= image_tag("dapper8.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6	">
			<%= image_tag("dapper6.png", class: "erd-img") %>
	</div>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "With an app out and a landing page in the making, we had print flyers made to be able to cover the service coverage area that we have and spread the word about our service. We've gotten feedback from people that distribute our flyers. They told us our initial design wasn't working as people mistook our business as another shoe  instead of shoe shines. As such, we sought to correct this in our content universe and came up with this flyer." %>
	</p>
	<br>

</div>

<div class="row">
	<h3 class="big head"><%= "Current Situation" %> </h3>
</div>

<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "We're currently refining the app and exploring different ways to get our first couple of users. Once we have that done, I'll be executing testing efforts to refine the assumptions used to make the app how it is." %>
	</p>
	<br>

</div>

<br class="hide-xs">
<br class=" br hide-xs">
<br class=" br hidden-md-down">
<div id="portfolio" class="br">
<br class="hide-xs">
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("xo.jpg", class: 'card-img-top'), main_case8_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Inspire-me Redesign", main_case8_path %></h4>
			   <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | seo | a/b testing" %>
		    	</p>

			 </div>
			  <div class="card-block">
					<p class="card-text"><%=  "An acquisition strategy for the Knot, my internship project sought to help newly engaged brides get inspired and educated about wedding themes through a visual discovery experience."%></p>
			    	    	 		<%= link_to "See the Case Study", main_case8_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("meditateawake.png", class: 'card-img-top'), main_case10_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Meditate Awake", main_case10_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | interaction design | freelance |  " %>
		    	</p>
			 </div>
			  <div class="card-block">

			    <p class="card-text">   <%= "Meditate Awake is an application that helps beginner meditators increase
		        their meditation time from 5 minutes to 20 minutes through progress tracking and community
		        engagement." %></p>


			 		<%= link_to "See the Case Study", main_case10_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>
			</div>
		</div>
	</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<br>
<br>
</div>
