<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Inspire-me Redesign"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("xo.jpg", class: "wired-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical">With <a href="http://www.theknot.com"> the Knot </a> (a wedding planner tool, a website, and editorial magazine), I made a discovery experience that sought to provide newly engaged brides a way to learn and get inspired on wedding themes and styles in both a visual and verbal manner.
			</p>
</div>
<br>
<div class="row ">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "UX Researcher"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Tools Used<h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "Google Analytics"  %></p>	
			<p class="typical list"><%= "MixPanel"  %></p>
			<p class="typical list"><%= "RapidMiner"  %></p>
			<p class="typical list"><%= "Adobe CC"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list "><%= "Contextual Interviews"  %></p>
			<p class="typical list"><%= "Diary Studies"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>
			<p class="typical list"><%= "Quantitative Analysis"  %></p>
			<p class="typical list"><%= "Market Basket Analysis"  %></p>	
		</div>
		
</div>
<div class="row">
	<h3 class="big head"><%= "Context" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("xo5.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= "Inspire-me is an existing content experience that sought to provide users a way to learn more about wedding themes. Last year when it was made, it performed badly with its analytics (8 clickthroughs and 800 page views over 3 months) and was shelved for higher priorities. With inspiration becoming one of the defining competitive edges that the Knot has over wedding planning companies, I took this as my internship project upon my direct supervisors' recommendation." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Old Inspire-me", "http://www.theknot.com/content/styles/rustic", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Problem" %> </h3> 
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "How might we drive newly-engaged couples in their inspiration phase to a discovery experience that educates them about wedding themes in order to gain better engagement, conversion rates, and clickthroughs?" %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Hypothesis" %> </h3> 
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "We can stimulate higher engagement, conversion rates, and clickthroughs to the Knot's content universe by funneling users from high-performing content articles to  Inspire-me where they can begin their wedding planning by being visually and verbally inspired." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Project Goals" %> </h3> 
</div>
<div class="row ">
		<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
			<p class="typical list space">1. Create an embedded card module that can successfully drive users to a discovery experience to help articulate style before signing up through content that discuss inspiration. (> 10% CTR)</p>
			<p class="typical list space">2. Create a landing page for each of the major styles that will drive CTR to become > 20% from that page to a related piece of Real Weddings content (photos), to sign up, to browse a Marketplace vendor, or to browse a fashion product page. </p>
			<p class="typical list">3. Reduce bounce rates on style page to 60% (Current Rate is at 70%). </p>
		
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Newly Engaged Bride" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("xo2.png", class: "wired-img") %>
</div>
<br>
<div class=" row z">
	<p class="typical"><%= "After digging through numerous unmoderated user testing videos in XO's database, reading through our documentation of multiple bridal diary studies, and being exposed to newly engaged brides in live interviews, I came up with this empathy map to guide me as I designed the experience. " %>
	</p>
	<p class="typical" style="margin-bottom:0">  <strong>There are two key take-aways here: </strong></p>
	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left"><%= "1. Brides at this stage experience their search for inspiration in a goal-oriented fashion (usually prompted by a friend or family member about a stylistic detail)" %></p>
			<p class="typical list  m-left"><%= "2. Brides know how they want things to look but they don't know where to find them and how to articulate them verbally"  %></p>

	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "User Flow" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("xo3.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Given that most of our users come from organic search, I determined how the user would get from there to the discovery experience." %>
	</p>
</div>
<div class="row">
	<h3 class="big head"><%= "Narrowing Down the Funnel" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("xo4.png", class: "wired-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Given that the Knot has analytics that proves that most of our users come from organic search (Google), I had to find out which articles to funnel from knowing that our users come with a goal-oriented mindset during when looking for advice online. So I looked to Google Analytics to determine what stylistic details and decor they were looking inspiration and advice on. I eventually ended up finding substantial traffic at pages detailing flowers, invitations, colors, decor, and cakes. These will serve as the initial entry points to the style pages I had in mind" %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Spreadsheet", "https://docs.google.com/spreadsheets/d/12Oo5W0Odkk6LIcfwLrq0zZ7U9JVuoLbwsdaPLfs-iKg/edit?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Determining What to Include in Pages" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("xo11.png", class: "wired-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After figuring out the overall funnel, I listed down the overall jobs-to-be-done by the user and figured out what they might want in the wedding themes hub and style page coming from a google Search." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head space"><%= "Testing, and Mock-ups" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"> <%= "After generally settling the flow and the features based on how the user was understood, I went wireframing and mocking the pages up on Sketch while concurrently seeking feedback from my product manager, my direct supervisor, and various specialists from the other departments. As a limitation, given the short nature of the internship, I had to design with many business constraints for ease and speed. I also determined what keywords must be included in the page to keep traffic flowing in organically," %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Spreadsheet", "https://docs.google.com/spreadsheets/d/1OQju3v95WfqUjnMczRmQ7QMENGribH44qNMBNdn3ADE/edit?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
	 </div>

</div>
<div class=" row z" >
	<p class="mini2 head" ><%= "First A/B Test" %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("xo6.png", class: "wired-img") %>
</div>
<div class="row y">
			<%= image_tag("xo7.png", class: "wired-img") %>
</div>
<br>
<div class=" row z">
	<p class="typical"><%= "One of the first ideas I wanted to validate was to check if our users would respond more to a visually-focused presentation or one that focused more on the verbal. With that in mind, I designed two set of different cards that will serve to link to the style pages. These cards will specifically live in the articles pointed out during the funnel and flow" %>
	</p>
</div>
<div class=" row z" >
	<p class="mini2 head" ><%= "Second A/B Test" %>
	</p>
</div>
<div class="row"style="margin-bottom:30px;">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<%= image_tag("xo8.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6	">
			<%= image_tag("xo9.png", class: "erd-img") %>
	</div>
</div>
<div class=" row z">
	<p class="typical"><%= "The other idea I wanted to validate was, while the user is peforming a goal-oriented search, would they respond and engage more with copy that attempted to guide them versus copy that just described what a specific category/detail was visually" %>
	</p>
</div>
<div class="row">
	<h3 class="big head space"><%= "Prototype Sample (Mobile)" %> </h3> 
</div>
</div>
</div>
<div class="row y yinvision">
	<iframe class="invision" width="434" height="900" src="//xogrp.invisionapp.com/share/A6GA8HU9348" frameborder="0" allowfullscreen></iframe>
	<br>
	
</div>
<div class="cover">
<div class="x">
<div class="row">
	<p class="typical"><%= "After the first few drafts I exported my mocks to InVision so that they could be more easily demonstrable to our remote team in Guangzhou and the other departments in the company. This mock-up in particular is the B test that tests both a more gallery-like forward momementum and guiding copy for the secondary test." %>
	</p> 
	<div class="col-lg-3 col-12 col-md-4 col-xs-12" style="padding-left:0	">
 			<%= link_to "See Desktop A Test	", "https://xogrp.invisionapp.com/share/ZKGA8JG76HM#/283875740_B_Test_Desktop_1", class: "btn btn-primary orange btn-ghost a" %>	
	 </div>
	 <div class="col-lg-3 col-12 col-md-4 col-xs-12" style="padding-left:0	">
 			<%= link_to "See Mobile A Test	", "https://xogrp.invisionapp.com/share/ZKGA8JG76HM#/283875740_B_Test_Desktop_1", class: "btn btn-primary orange btn-ghost a btna" %>	
	 </div>
	 <div class="col-lg-3 col-md-4 col-12 col-xs-12 btna" style="padding-left:0	">
		    <%= link_to "See Desktop B Test", "https://xogrp.invisionapp.com/share/ZKGA8JG76HM#/283875740_B_Test_Desktop_1", class: "btn btn-primary orange btn-ghost a btna" %>
	 </div>
</div>

<div class="row">
	<h3 class="big head space"><%= "Internal Feedback" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "As I was building the experience, I also sought out feedback from departments outside of my own team and got feedback based on their expertise." %>
	</p>
</div>

<div class="row space ">

		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		<strong><p class="mini head">SEO</p></strong>
		
		<div class=" findings  ">
			<p class="typical list space m-left"><%= "The page has to be optimized according to content-specific SEO rules"  %></p>
			<p class="typical list space m-left"><%= "Strike a better balance of copy and images"  %></p>
			<p class="typical list space m-left"><%= "You don't want to rank for 'Rustic Style', but rather, 'Rustic Wedding Style'"  %></p>
			<p class="typical list space m-left"><%= "The copy must be readable and understandable to both a bot crawling the page and the user"  %></p>
			<p class="typical list m-left "><%= "Make sure the photos are light in terms of file size."  %></p>

		</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
		<strong><p class="mini head">Editorial</p></strong>
		<div class="findings">
			<p class="typical list space m-left"><%= "It's good to not be too prescriptive when it comes to describing the style. Every bride and groom has a very subjective definition of their own style and we don't want to box them in."  %></p>

			<p class="typical list space m-left"><%= "Diversity may be an issue. One of the Knot's current initiatives is to dispel the idea that we're just for affluent white brides.  We're for everyone and visually the style page may need to be curated"
%></p>
			<p class="typical list m-left"><%= "Algorithmically, how might we vet our photos so that they don't look too dated or encumbered by watermarks (which decrease photo quality)."  %></p>


		</div>
		</div>

</div>
<div class="row">
	<h3 class="big head space"><%= "Currently Happening" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "The first A/B Test is currently being developed at Guangzhou by our Chinese branch and I'm currently looking for associations between styles and the color palettes that they use through Python and data mining our image and tagging databases." %>
	</p>
</div>
<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management  interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("affiliated.png", class: 'card-img-top'), main_case7_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Affiliated", main_case7_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | interaction design | user research |  " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A mobile app for Greek life communities that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization nationwide." %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case7_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as ml-auto mr-auto " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | market research |" %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
		</div>
	</div>	
</div>
</div>
</div>
</div>
<br>
<br>
</div> 