<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Heck Yea! Team Website"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("heckyea1.png", class: "big-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical"><%= "Heck Yea! Team is an Auto Collision Repair Shop group, endorsed by Mclaren, Lamborghini, and more, that sought me out to have a new website designed engagingly according to thier brand."  %>
			</p>
</div>

<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Javier Virgen"  %></p>
			<p class="typical list"><%= "Michael Pollind"  %></p>
			<p class="typical list"><%= "Xavi Ablaza"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "UX Researcher"  %></p>
			<p class="typical list"><%= "Developer"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Methods<h5>
			<p class="typical list"><%= "Interviews"  %></p>
			<p class="typical list"><%= "User Testing"  %></p>
			<p class="typical list"><%= "Brand Familiarizaiton"  %></p>
		</div>
</div>
<div class=" row z">
		<div class="col-lg-4 col-6 col-md-4" style="padding-left:0	">
		  <%= link_to "See Website", "http://wwww.autobodyconsierge.com", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Background" %> </h3> 
</div>
<div class=" row z">
	<p class="typical">An offshoot of the ECO Auto Solutions brand, Heck Yea! Team, soon called Symphony, is a brand that caters to high-end car owners aged thirty year old and up. With an overall negative perception pervading across the industry, the owners of ECO Auto Solutions seeks to get above that problem and revolutionize the auto repair industry by offering transparent and quality service through their new brand. With that said, they sought out to have their brand kickstarted with a new website quick and fast. Hence, I opted to skip out of intensive research at the beginning and right into prototyping. 
	</p>	
</div>

<div class="row">
	<h3 class="big head"><%= "Defining the Brand" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("heckyea2.jpg", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= 'Once we determined the consumer/user that they were targeting, I sent a list of questions to the brand owner and had them answer a series of question to define their identity better. Afterwards, we determined a list of references for the aesthetic he wanted to achieve, which the owner described to be sleek, bold, sexy, simple, and elegant. From there, I started making the preliminary designs' %>
	</p>	
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "First Design" %> </h3> 	
</div>
<div class="row y">
			<%= image_tag("heckyea.png", class: "erd-img", style:" width:60%;") %>
</div>
<div class="row y">
		<p class="typical"><%= 'After having a preliminary understanding of how the business typically operates, how the brand wants to portray itself, and how people interact with the industry, I set out in designing a prototype that we could release and test with potential users under the target market that they have. At this point, the brand was still temporarily called "The Underdog Project." Considering that the client wanted to rush the work, I skipped low fidelity prototypes and went for mockups.' %>
</div>

<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/d1d9ffb9-118f-458b-9e84-443cfbc68243" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
		<p class="ml-auto mr-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's scrollable" %> </p>
		<br>
	</div>
<div class="row y">
		<p class="typical"><%= "With this being the first draft made, I conducted a few contextual inquiries before showing this to the client. I got positive feedback from younger car owners saying that they would check out and get service from this brand. They were also amused by the tagline. However, after convening with the client, we both acknowledged that this doesn't represent the brand well, especially in content. Hence, we went through a few more iterations between ourselves to refine it for more intensive testing with the affluent car owners he is targeting." %>
</div>

<div class="row">
	<h3 class="big head"><%= "Agreed Design and Production of Website" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "After a total of 6 more iterations with the client, content writing, and observing how auto repair shop conduct operations, my client and I have finally got to this version. From this, Michael Pollind, Xavi Ablaza, and I built a WordPress website for the company's initial launch exactly to how the client wanted it. All throughout development, the client introduced multiple changes that led him to change the content, the brand name, and the format of the design.  " %>
	</p>
	</div>
<div class=" row">
		  <%= link_to "See Website", "http://wwww.autobodyconsierge.com", class: "btn btn-primary orange btn-ghost a ", style: 'margin-bottom:20px;'%>
</div>
<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/ed5df522-4cd9-43c6-b420-04c76279c73f" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
		<p class="ml-auto mr-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's scrollable" %> </p>
		<br>
</div>

<div class="row">
	<h3 class="big head"><%= "Testing" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "After finishing the website, we couldn't find a compromise on the direction of the design. As such, we collected payment, formally closed the project, and conducted research of our own separate from the client's testimonials from his clients. Research was conducted objectively and we were careful enough not to ask leading questions. Here's what we found:" %>
	</p>
	<br>
</div>
<div class="row ">
		<div class="col-12 findings  ">
			<p class="typical list space">1. Users who viewed the site were confused about what service the brand was really offering, implying the content was not cohesive.</p>
			<p class="typical list space">2. Users were confused by the call-to-action at the end because it did not imply a free consultation with the text in place (can be seen on live website) despite being the destination linked to the "Get Free Consultation" button. </p>
			<p class="typical list space">3. Users were not able to find what the immediate information they were looking for upon arrival on the page.</p>
			<p class="typical list space">4. Videos were phrased to be either "out-of-place" or "unnecessary". </p>
			<p class="typical list">5. The brand name did not imply anything about the business, the user said.	 </p>
		</div>
</div>
<div class=" row ">
		  <%= link_to "See Sample of a User's Reaction", "https://drive.google.com/open?id=0B_FrSfuPKli9aXU5SmRadnBsak0", class: "btn btn-primary orange btn-ghost a", style:"margin-right: 10px;"%>
	      <%= link_to "See User Interview Sample", "https://drive.google.com/file/d/0B_FrSfuPKli9OGVYUmljd3JiSHM/view?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
</div>
<div class="row">
	<h3 class="big head"><%= "Revised Design" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "After hearing objective criticism, we revised the design to reflect a better user experience, and here's what we came up with. " %>
	</p>
	<br>
</div>
<div class="row y">
	<iframe width="100%" height="480" src="https://xd.adobe.com/embed/d21ef8b2-5510-4f9e-99bb-1bec7041b394" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
		<p class="ml-auto mr-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's scrollable" %> </p>
		<br>
	</div>
<div class="row">
	<h3 class="big head"><%= "Learnings" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "After having gone through this project, my team and I realized a few things.  " %>
	</p>
	<br>
</div>
<div class="row ">
		<div class="col-12 findings  ">
			<p class="typical list space">1. Always create a contract with the client and set expectations immediately</p>
			<p class="typical list space">2. Develop a clean framework to code in to avoid creating unnecessary rules and lines of code</p>
			<p class="typical list space">3. Agree on what you're being paid to do.</p>
			<p class="typical list">4. Always be a few steps ahead before interacting with the client in any situation. </p>
		</div>
</div>



<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>	
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
	<div class="portfolio">
		<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | market research |" %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("burger king 2.png", class: 'card-img-top'),main_case3_path %> 
				  <div class="card-header">
				  	   <h4><%= link_to "Burger King Analysis", main_case3_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| market research | brand management | project management | " %>
			    	</p>
				 </div>
				  <div class="card-block">
				 
				    <p class="card-text"><%= "Along with four others, I analyzed how Burger King was performing in the Philippines as a brand and as a company. From there, we provided a few suggested improvements to their managers." %></p>
				    	    	 		<%= link_to "See the Case Study", main_case3_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
				<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("trace-00.png", class: 'card-img-top'), main_case4_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Trace, a Habit Tracker", main_case4_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | lean ux methodologies | ongoing project | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A personal passion project, Trace is a habit tracker inspired by bullet journalling. Currently in its few iterations, it hopes to assist in meeting personal goals for young proffesionals. " %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case4_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
	</div>	
</div>
</div>
</div>
<br>
<br>
</div>