<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="AISIS Redesign"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("affiliated.png", class: "big-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical"><%= "I launched an article on our organization's blog and created an active discussion with the school community about the problems of our enlistment system. I got 2.7k views on the article (a quarter of the student population), and a 43% read rate. I also prepared a redesign of it with hopes of launching another article soon just in time for the first semester."  %>
			</p>
</div>
<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Alexis Collado"  %></p>
			<p class="typical list"><%= "Brian Tan"  %></p>
			<p class="typical list"><%= "Judy Sy"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Researcher"  %></p>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "Writer"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list "><%= "Interviews "  %></p>
			<p class="typical list"><%= "Surveys"  %></p>
			<p class="typical list"><%= "Observational Field Research"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>	
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Context" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "Every semester, students in Ateneo de Manila University struggle as they enlist their classes in the Ateneo Integrated Student Information System (AISIS). With some functions like updating student information and confirming enlistment barring students from getting their preferred classes, my organization took it upon ourselves to figure out what exactly the student body felt about the system." %>
	</p>
</div>
<div class="row">
	<h3 class="big head"><%= "A Preliminary Look Into the System" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("oldaisis2.png", class: "erd-img") %>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "AISIS is a legacy system built around 2009 in order to mitigate the crowds of students manually registering for their classes in queues that took two whole days to process. It contains multiple services spanning from form requests, enlistment,  information dissemination. To most students, according to my interviews, it is only relevant during the start of the semester for enlisting in classes." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Research Process" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("aisis7.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Initially, we scrawled down the questions we had for the research (i.e. Who's the persona? What's the persona like? When does s/he have problems with the system?). Afterwards, we structured my interviews and surveys, and scoped out who we could interview and who we could send my survey too. We eventually got 5 interviews and a sample of 135 respondents for my research. I interpreted the survey using spreadsheets, and gathered statistics." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Actual Survey", "https://docs.google.com/forms/d/e/1FAIpQLSeDZVV1Y3RwzdSgSHKMzO0Z_x5pg5RVJUtkGzybqWkRvLp9uA/viewform", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head space"><%= "Key Findings" %> </h3> 
</div>
<div class="row space ">

		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
		<strong><p class="mini head">Good Points</p></strong>
		
		<div class=" findings  ">
			<p class="typical list space m-left"><%= "30% of respondents didn't like the ‘Confirm Enlistment’ button."  %></p>
			<p class="typical list space m-left"><%= "38.5% said that the‘Update Student Information’ form impeded them from having a good experience"  %></p>
			<p class="typical list space m-left"><%= "12.5% complained that the font was hard to read."  %></p>
			<p class="typical list space m-left"><%= "“It’s hard to check if the classes I want conflicted or not, especially if I don’t plan my class schedule ahead.”"  %></p>
			<p class="typical list m-left "><%= "“I find it so inconvenient that I have to use CTRL+F in order to find my classes, and it’s so pressuring if it’s one of those classes with slots that run out easy.”"  %></p>

		</div>
		</div>
		<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 ">
		<strong><p class="mini head">Bad Points</p></strong>
		<div class="findings">
			<p class="typical list space m-left"><%= "60% of respondents think that the fact we can access it from any device is pretty nifty."  %></p>
			<p class="typical list space m-left"><%= "73.3% of respondents think that the ability to check if you have hold orders is a godsend.
"  %></p>
			<p class="typical list m-left"><%= "70.4% of respondents also think that it’s cool that we can download our Load Revision and Change Degree Forms with all our information already on it."  %></p>


		</div>
		</div>

</div>
<div class=" row z" >
	<p class="mini head" ><%= "Confusing Statistics" %>
	</p>
	<br>
</div>
<div class="row"style="margin-bottom:30px;">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<%= image_tag("easy to use.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6	">
			<%= image_tag("nothappy.png", class: "erd-img") %>
	</div>
</div>
<div class=" row z">
	<p class="typical" style="">In speculation, we <strong>hypothesized</strong> that, even though both statistics gathered sounded contradictory, <strong>it could be that the system has already conditioned the average student that its actually easy </strong>. There are worse fates out there, like having to manually register your classes in school, and knowing that, the student may think AISIS is actually pretty easy to use as is.
	</p>
	<br>
</div>
<div class=" row z">
	<p class="typical" style=""><%= "But even then, systems and technology were made to enhance the overall human experience, not hinder it, and as such we sought out to make it known to the whole community through an article. We also started trying to redesign how it could possibly look like." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Article on Medium", "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row ">

	<h5 class="big head"><%= 'Design Decisions' %><h5>

</div>
<div class="row z">
		<p class="typical"><%= "Knowing the pain points users had with the system, and also knowing that AISIS focused on enlistment, we focused on improving that overall experience for the average student."  %>
	</p>
	<br>
</div>
</div>	
</div>

			<%= image_tag("User Flow Samples-09.png", class: "case object
			when condition
				
			end-img") %>
<div class="cover">
<div class="x">
<div class="row">
	<h3 class="big head"><%= "Future Plans" %> </h3> 
</div>

<div class=" row z">
	<p class="typical"><%= "With the interest of the school community sparked through the article I made, I personally plan to cooperate with my old organization User Experience Society as they partner up with the school administration on what to do. After turning over the designs, I will be conducting critiques and assisting in their research in order to ensure satisfaction from the student community." %>
	</p>
	<br>
</div>
<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("affiliated.png", class: 'card-img-top'), main_case7_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Affiliated", main_case7_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | ux design | ongoing project | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A mobile app for Greek life communities that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization." %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case7_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as  ml-auto mr-auto" style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("tbrooks-min.jpg", class: 'card-img-top'), main_case6_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Senator Campaign Website", main_case6_path %></h4>
			<p class="card-text" style ="font-style: italic"><%= "| UX design | UX research | " %>
   		    	</p>
			 </div>
			  <div class="card-block">
					<p class="card-text"><%= "Tyler Brooks ran as a senator for Chapman University's Student Government Association. He wanted to get a competitive edge during his campaign and as such enlisted my team to help with his website." %></p>
			    	    	 		<%= link_to "See the Case Study", main_case6_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>
		</div>
		</div>
	</div>	
</div>
</div>
</div>
</div>
<br>
<br>
</div>