<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Burger King Brand Analysis"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("burger king 2.png", class: "big-img") %>
</div>
<br>
<br>
<div class="row ">
			<p class="typical"><%= "Knowing that Burger King wasn't really performing well in the Filipino fastfood market, my team set out to check if there were underlying problems with its brand perception. Through our research, we found out that although that many people found Burger King's products delicious, a good quarter from the people we surveyed were actually indifferent to it or had lukewarm feelings about the brand. We also reported our findings to BK's management and gave a recommendation on what they can do with the brand."  %>
			</p>
			<br>
			<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
		 	 <%= link_to "See Final Presentation", "https://drive.google.com/file/d/0B_FrSfuPKli9aUhsd0M3dldNUW8/view?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
			 </div>
</div>
<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Hann Louise De Guzman"  %></p>
			<p class="typical list"><%= "Aimee Ong"  %></p>
			<p class="typical list"><%= "Alaine Ansong"  %></p>
			<p class="typical list"><%= "Enzo Navarro"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "Brand Analyst"  %></p>
			<p class="typical list"><%= "Team Leader"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list"><%= "Interviews "  %></p>
			<p class="typical list"><%= "Surveys"  %></p>
			<p class="typical list"><%= "Observational Field Research"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>	
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Context" %> </h3> 
</div>
<div class=" row ">
	<p class="typical"><%= "Our inquiry initially started out because some of us were loyalists to Burger King. As supporters of the brand, we wondered why Burger King branches were so sparse, and why it wasn't as popular as the leading brands despite the good quality products that they serve. From there, our team structured a plan." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See Survey Form", "https://docs.google.com/forms/d/e/1FAIpQLSeDZVV1Y3RwzdSgSHKMzO0Z_x5pg5RVJUtkGzybqWkRvLp9uA/viewform", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Company Status" %> </h3> 
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "Burger King was founded in 1954 by Daniel Schwartz and remains to be the second most profitable fastfood chain in  the world. Despite this, Burger King only has 23 branches in the heart of Manila." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("bk1.png", class: "erd-img") %>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "For our analysis, after getting to know the current status of Burger King by itself, we got to know the dynamics it had with the Filipino setting using Porter's 5 Forces Model. Notably, it was a medium risk industry. What was surprising to us was that Jollibee Food Corporation was a majority stakeholder. We speculated Burger King wasn't well marketed because it could impede on Jollibee's operations." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Brand Equity Keystone" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("bk4.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After checking their status as a business and watching several advertisements, a brand equity keystone was made in order to better understand what the brand actually stands for what people and for what reasons. From what we watched from their advertisements, we hypothesized that BK  specifically positioned itself for go-getter types of individuals. We also eventually came to the conclusion that Burger King stands for individuality communicated through humor and authenticity." %>
	</p>
	<br>
	<div class="col-lg-3 col-6 col-md-4" style="padding-left:0	">
	  <%= link_to "See BK's Advertisements", "https://www.youtube.com/user/burgerkingph", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Consumer Brand Perception" %> </h3> 
</div>
<div class=" row z">
	<p class="typical" style=""><%= "With what we know from the state of the company and its environments, our team formed questions that will help us get a better understanding of what the brand was to the Filipino market. What we learned was concerning." %>
	</p>
	<br>
</div>
<div class="row" >
	<h5 class="mini head"><%= 'Surveys' %><h5>
</div>
<div class="row"style="margin-bottom:30px;">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<%= image_tag("bk2.png", class: "erd-img ") %>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6	">
			<%= image_tag("bk3.png", class: "erd-img side") %>
	</div>
</div>
<div class="row y">
			<%= link_to "See Survey Results	", "https://drive.google.com/file/d/0B_FrSfuPKli9ZHl5Qjk1TDFMQWs/view?usp=sharing", class: "btn btn-primary orange btn-ghost a", style: "margin-bottom:50	px;" %>		
</div>
<div class="row">
	<h5 class="mini head"><%= 'Observational Field Research' %><h5>
</div>
<div class="row y">
			<%= image_tag("bk8.jpeg", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:5px"><%= "Going into multiple Burger Kings during the dinner rush for a week, I sat down to observe the people. The people there were definitely young professionals. There was, however, something odd about the situation. Customer were usually with friends. This disproved our hypothesis that Burger King's customers went in mostly solo and were more individualistically-focused." %>
	</p>
	<br>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:5px"><%= " One could also definitely feel the premiumness of the establishment and how it was specifically targetted for the upper class. However, upon multiple visits, I  personally noticed that, more often than not, it was the lower-middle income class who dined in Burger King." %>
	</p>
	<br>
</div>
<div class="row">
	<h5 class="mini head"><%= 'Interviews and Focus Group Discussion' %><h5>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:5px"><%= "Here are some notable things consumers said while we were conducting our research:" %>
	</p>
	<br>
</div>
<div class="row ">
		<div class="col-12 findings  ">
			<p class="typical list space">"There's no catch to it. Nothing that would make people feel attracted."</p>
			<p class="typical list space">"It doesn't really do much with it other than try to get you to eat it, though, unlike McDonald's or Jollibee ads, which try to show relatable stories that feature their food."</p>
			<p class="typical list space">"Burger King had advertisements? I didn't see any of them. You're kidding, right?"</p>
			<p class="typical list space">"It's too far away from where I work!"</p>
			<p class="typical list space ">"Oh, they have delivery? I never even knew!"</p>
			<p class="typical list">""I wish BK was placed near bars. It'll help out with getting me sober.""</p>

		</div>
		<br>
		<div class="col-lg-2 col-12 col-md-5 col-xs-12" style="padding-left:0	">
 			<%= link_to "See FGD Discussion Guide	", "https://drive.google.com/file/d/0B_FrSfuPKli9cmxhWHdXTHItaVE/view?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>	
		 </div>
		 <div class="col-lg-2 col-md-6 col-12 col-xs-12 btna">
		    <%= link_to "See Sample Interview", "https://drive.google.com/file/d/0B_FrSfuPKli9am5NcnZ3OXRfT0k/view?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
		
</div>
<div class="row">
	<h5 class="big head"><%= 'The Problem' %><h5>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<%= image_tag("bk5.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4	">
			<%= image_tag("bk6.png", class: "erd-img") %>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4	">
			<%= image_tag("bk7.png", class: "erd-img") %>
	</div>	
</div>
<div class="row">
	<h5 class="big head"><%= 'Our Proposed Solution' %><h5>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:5px"><%= "At the end of our research, we summed up our case, made several recommendations, and sent it to Burger King's Management under Jollibee Food Corporation." %>
	</p>
	<br>
</div>
<div class="row ">
		<div class="col-12 findings  ">
			<p class="typical list space">1. Burger King, instead of focusing on its burgers only during advertising, should also look into how their products make their customers feel.</p>
			<p class="typical list space">2. Given the amount of groups that come into their establishments, more often than not friends, maybe advertisements could possibly leverage the comicality experienced with close friends.</p>
			<p class="typical list space">3. We also recommend that Burger King should be placed in areas where friends usually hangout, other than just the mall. Given the age group, our recommendation is near places where people will drink. Placing more branches will make Burger King more recallable as well. </p>
			<p class="typical list">4. Lastly Burger King can also pick celebrities and well-known personalities that are more relatable to the lower-middle class instead of the upper-middle. With more customers coming from the lower-middle, more profitable sales can be gotten from there w/o compromising the brand's essence of liberal comcality</p>

		</div>
</div>

<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio">
	<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 as " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | market research |" %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("trace-00.png", class: 'card-img-top'), main_case4_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Trace, a Habit Tracker", main_case4_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | lean ux methodologies | ongoing project | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A personal passion project, Trace is a habit tracker inspired by bullet journalling. Currently in its few iterations, it hopes to assist in meeting personal goals for young proffesionals. " %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case4_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		</div>
		</div>
	</div>	
</div>

</div>
</div>
<br>
<br>