<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Senator Campaign Website"%></h1>
</div>	
<br>
<div class="row y">
			<%= image_tag("tbrooks-min.jpg", class: "big-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical"><%= "Tyler Brooks ran as a senator for Chapman University's Student Government Association. He wanted to get a competitive edge during his campaign and as such enlisted my team to help him. As such, we created a website that catered to the unique brand voice and message that he wanted his constituents to perceive."  %>
			</p>
</div>

<br>
<div class="row ">
		<div class="col-lg-4 col-sm-4 col-xs-12 " style="padding-left:0">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
			<p class="typical list"><%= "Xavi Ablaza"  %></p>
			<p class="typical list"><%= "Michael Pollind"  %></p>
			<p class="typical list"><%= "Melissa Zhuang"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">My Roles<h5>
			<p class="typical list"><%= "UX Designer"  %></p>
			<p class="typical list"><%= "Brand Researcher"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Methods<h5>
			<p class="typical list"><%= "Interviews"  %></p>
			<p class="typical list"><%= "Design Studio"  %></p>
			<p class="typical list"><%= "Brand Familiarization"  %></p>
		</div>
</div>
<div class=" row z">
		<div class="col-lg-4 col-6 col-md-4" style="padding-left:0	">
		  <%= link_to "See Website", "https://swordmaker-mariam-88443.netlify.com/", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
</div>
<div class="row">
	<h3 class="big head"><%= "Background" %> </h3> 
</div>
<div class=" row z">
	<p class="typical">Running as a student organizations senator, whose role caters towards the 190 different student organizations on campus, Tyler thought that he needed to have an edge over the candidates running for the same position. He consulted us a few days after initially meeting us and we went through a few quick ways to get to know what he'd exactly want out of his website. With the election campaign season starting within a week, we skipped the more intensive research methods and went for the basics.	</p>	
</div>

<div class="row">
	<h3 class="big head"><%= "Defining the Brand" %> </h3> 
</div>
<div class="row y">
			<%= image_tag("melphoto-min.jpg", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical"><%= 'Once we had our team together, two developers, one designer, and one photographer, we met with Tyler to have him fill-up a brand familiarization form as we casually chatted and observed him. From that form, we saw that his unique brand voice was approachable, modern, and convincing.' %>
	</p>	
	<br>
</div>
<div class=" row z">
		<div class="col-lg-4 col-6 col-md-4" style="padding-left:0	">
		  <%= link_to "See Brand Familiarization Form", "https://drive.google.com/file/d/0B_FrSfuPKli9akxEc0hNMVlpbU0/view?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
		 </div>
</div>

<div class="row">
	<h3 class="big head"><%= "Design Studio" %> </h3> 	
</div>
<div class="row y">
			<%= image_tag("designstudio-min.jpg", class: "erd-img") %>
</div>
<div class="row y">
		<p class="typical"><%= 'After defining what sort of brand voice Tyler wanted, we immediately went into a design studio where the team and Tyler individually designed their version of the website. Afterwards, we start commenting on each other designs, pointing out their finer features, and bringing them together to make a final design. From there, we clarified with the client if the final wireframe we made is okay for the next steps.' %>
</div>
<div class="row y">
			<%= image_tag("tyler-highfid.jpg", class: "erd-img") %>
</div>

<div class="row y">
		<p class="typical">We then consolidated each of our designs and voted on aspects that we thought would be key to effectively describing the campaign. We then made a prototype that Tyler signed off on.</p>
</div>
<div class="row">
	<h3 class="big head"><%= "Agreed Design and Production of Website" %> </h3> 
</div>
<div class="row y">
 <iframe class="adobe-xd col-md-8 col-md-offset-2" width="100%" height="500" src="https://xd.adobe.com/embed/59545898-c81c-4b19-9de3-4d8eabfff5e8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
		<p class="ml-auto mr-auto" style="font-family: 'Lato'; font-style:italic"><%= "it's scrollable" %> </p>
		<br>
</div>
<div class="row y">
		<p class="typical">From there, we conducted a quick photoshoot for Tyler's website so that we could have a few base assets we can use. And in the end, this is what we came up with. From there, we had Tyler review this.</p>
</div>

<div class="row">
	<h3 class="big head"><%= "Development and Project End" %> </h3> 
</div>
<div class=" row z">
	<p class="typical"><%= "From there we coded the website, made it responsive, before finally presenting the finished product to the client two days before the campaign period. Tyler has also won the election, garnering majority of the votes from his constituents (21% of votes) against the other 6 candidates. " %>
	</p>
</div>
<div class=" row">
		  <%= link_to "See Website", "https://swordmaker-mariam-88443.netlify.com/", class: "btn btn-primary orange btn-ghost a ", style: 'margin-bottom:20px;'%>
</div>

<br class="hide-xs">	
<br class=" br hide-xs">
<br class=" br hidden-md-down">	
<div id="portfolio" class="br">
<br class="hide-xs">	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>	
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
	<div class="portfolio fix">
		<div class="row center">
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">

					<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
				 <div class="card-header">
				   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | market research |" %></p>

				 </div>
				  <div class="card-block">
				   
				    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
				    	   
				 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
				 <div class="card-header">
				  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

				    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
				 </div>
				  <div class="card-block">
				   

				    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
				   
				 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
				<div class="card">
					<%= link_to image_tag("burger king 2.png", class: 'card-img-top'),main_case3_path %> 
				  <div class="card-header">
				  	   <h4><%= link_to "Burger King Analysis", main_case3_path %></h4>
				    <p class="card-text" style ="font-style: italic"><%= "| market research | brand management | project management | " %>
			    	</p>
				 </div>
				  <div class="card-block">
				 
				    <p class="card-text"><%= "Along with four others, I analyzed how Burger King was performing in the Philippines as a brand and as a company. From there, we provided a few suggested improvements to their managers." %></p>
				    	    	 		<%= link_to "See the Case Study", main_case3_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
				  </div>	
				</div>
			</div>
				<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("trace-00.png", class: 'card-img-top'), main_case4_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Trace, a Habit Tracker", main_case4_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | lean ux methodologies | ongoing project | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A personal passion project, Trace is a habit tracker inspired by bullet journalling. Currently, in its few iterations, it hopes to assist in meeting personal goals for young professionals. " %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case4_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as  ml-auto mr-auto" style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("heckyea1.png", class: 'card-img-top'), main_case5_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Heck Yea! Team Website", main_case5_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| UX Design | UX Research | " %>
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "Heck Yea! Team is an Auto Collision Repair Shop group, endorsed by Mclaren, Lamborghini, and more, that sought me out to have a new website designed engagingly according to their brand." %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case5_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
	</div>	
</div>
</div>
</div>
<br>
<br>
</div>