<div class="cover">
<br>
<div class="x">
	<div class="row y">
				<h1 class="title3 pink-text"><%="Animaze Redesign"%></h1>
	</div>
<br>
<br>
<div class="row y">
			<%= image_tag("animaze.png", class: "wired-img") %>
</div>
<div class="row">
		<br>
</div>
<div class="row z">
			<p class="typical"><%= "Together with my team in Holotech, I increased day-7 retention by 5% and doubled the amount of content saved and shared per DAU by redesigning the home screen."  %>
			</p>
</div>
<div class="row">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "My Roles" %><h5>
			<p class="typical list"><%= "UX Design"  %></p>
			<p class="typical list"><%= "UX Research"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "Tools Used" %> <h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "Zeplin"  %></p>
			<p class="typical list"><%= "UserTesting"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head"><%= "Research Methods"%><h5>
			<p class="typical list "><%= "Unmoderated User Testing"  %></p>
			<p class="typical list"><%= "Interviews"  %></p>
      <p class="typical list"><%= "Concept Testing"  %></p>
		</div>

</div>
<div class="row">
	<h3 class="big head"><%= "Become a 3D Avatar on Animaze" %> </h3>
</div>
<div class=" row z">
	<p class="typical"><%= "Animaze is a mass-market app that utilizes face-tracking technology to let people create entertaining videos / photos using 3D Avatars."%>
	</p>
	<br>

</div>
<div class="row y">
		<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/ZFeUb2QRVXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class="row y">
	<div class="col-lg-12 col-12 col-md-12" style="padding-left:0	">
		<%= link_to "Download the App", "https://apps.apple.com/us/app/animaze-avatar-by-facerig/id1466925554", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>
<div class="row y">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "For People interested in Memes and Streaming" %> </h3>
</div>

<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "After getting access to user testing capabilities, we found out that our product's promoters (NPS) were very interested in memes and with streaming online but they struggle to find the confidence to do so." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze2.png", class: "wired-img") %>
</div>

<div class="row">
	<h3 class="big head"><%= "Designed For Mass-market Use" %> </h3>
</div>

<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "In my first three months with Holotech Studios,
		I designed Animaze for mass-market use, taking inspiration from Holotech's previous venture with Facerig and our competitive analysis of social media applications like Tiktok and Snapchat. " %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze3.gif", class: "gif-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Home Screen Doesn't Scale and is Confusing" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "After finally having a working build on our phones and after signing-up for a subscription with
		UserTesting.com, I received some feedback about our home screen internally from our team and externally from our first set of testers who also played through the build." %>
	</p>
</div>
<div class="row">
	<br>
</div>

<div class=" row z">
		<p class="typical" style="margin-bottom:0">  <strong><%= "Here are some of the things people have said about our home screen:" %></strong></p>
	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left">1.) "<b>Scalability is an issue.</b> There's not much space to add any more new features."</p>
			<p class="typical list  space m-left">2.)<b> "I didn't know you can take videos!</b> I'm personally not familiar with Snapchat and tapping and holding didn't strike me as something I'd do on instinct."</p>
			<p class="typical list  m-left">3.) "<b>It feels like it's for kids.</b> Because of how big the buttons were, I thought it was perfect for toddlers with bad coordination."   </p>

	</div>
</div>
<div class="row y">
			<%= image_tag("animaze15.png", class: "gif-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>


<div class="row">
	<h3 class="big head"><%= "Ideating by Wireframing Options" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "To start the ideation process, I made a couple of different wireframe options that
		covered our existing product and our desired goals while also accommodating for the features further down our roadmap. Afterward, I shared the options
		with my team for review." %>
	</p>
	<br>
</div>
<div class="row">
</div>
<div class="row y">
			<%= image_tag("animaze4.png", class: "big-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Creating Hi-fi Mock-ups" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "After talking about the wireframes with my manager, we decided to make mock-ups of the versions
		we liked and then I shared the mock-ups to our team along with some pros and cons for feedback." %>
	</p>
	<br>
</div>

<div class="row y">
			<%= image_tag("animaze5.gif", class: "wired-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Collaborating with Engineering and Art" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> Collaboration is important for me and our team. So we took people from our management, art, and engineering team and spent time iterating on the designs proposed. Notable changes include <b> a new approach to animations and splitting taking photos and videos to become a toggle.</b>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze6.png", class: "erd-img") %>
</div>
<div class="row">
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "AB Testing" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> After getting to a version we liked, I ran an AB test twice between the old and
		and new home screen. I evaluated first impressions, usability, clarity, and then
	  had people pick their preference. <b> Changes include grouping calibration and the camera feed and creating an animations menu. </b>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze7.gif", class: "erd-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Stress Testing Against Different Backgrounds" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Our app has a feature that allows users their own backgrounds for use in the app. To make sure the design holds up well against all cases, I stress-tested it against different types of backgrounds
		to make sure the navigation and text are legible." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze8.png", class: "erd-img") %>
</div>

<div class="row">
	<h3 class="big head"><%= "Spec Writing " %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Once we had a strong design that tested well, I wrote a specification document
		on the home screen to guide our engineers who are making it. Given that the majority of our team is in Europe, we discussed the document to iron out any issues before development." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze9.png", class: "erd-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "QA" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Once the home screen was fully built, I played through a staging build that had it and made some tickets to put to JIRA to correct small bugs." %>
	</p>
	<br>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze10.png", class: "big-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Testing the Release" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> <%= "Once we had the new home screen on a playable build, I put it up on UserTesting to see if our initial assumptions still held up.
		I had 10 testers play through both versions open-endedly and then I asked them what they liked and disliked on both before having them pick one over the other. Below are the results and a highlight reel featuring some of the things our testers have said." %>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze11.png", class: "big-img") %>
</div>
<div class="row">
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze12.png", class: "big-img") %>
</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row y">
		<iframe class="col-lg-12 col-md-12 col-sm-12" height="500" src="https://www.youtube.com/embed/cmnMfrgFK_Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
<div class="row">
	<br>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Wrapping-up" %> </h3>
</div>
<div class=" row z">

	<p class="typical" style="margin-bottom:0"> Our new home screen, according to our testers, was more <b>concise, intuitive, and appealed to an older demographic.</b> The redesign has also impacted our metrics and <b> increased our day-7 retention by 5% and doubled the amount of content saved and shared per DAU.</b>
	</p>
	<br>
</div>
<div class="row y">
			<%= image_tag("animaze13.png", class: "big-img") %>
</div>


<br class="hide-xs">
<br class=" br hide-xs">
<br class=" br hidden-md-down">

<div id="portfolio" class="br">
<br class="hide-xs">
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
          <div class="card">
            <%= link_to image_tag("dibs.png", class: 'card-img-top'),main_case1_path %>
            <div class="card-header">
                 <h4><%= link_to "Dibs Marketplace", main_case1_path %></h4>
             <p class="card-text" style ="font-style: italic"><%= "interaction design | app development | visuals " %>
              </p>
           </div>
            <div class="card-block">

              <p class="card-text"><%= "With Dibs, I designed an app that helps women interested in wellness and fitness
                afford the lifestyle they want through microincentives. 6 weeks after launch,
                it got 1.5k users." %></p>
                          <%= link_to "See the Case Study", main_case1_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
            </div>
          </div>


      </div>
			<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
						<div class="card">
							<%= link_to image_tag("dibsdash1.png", class: 'card-img-top'),main_case11_path %>
							<div class="card-header">
									 <h4><%= link_to "Dibs Booking Platform", main_case11_path %></h4>
							 <p class="card-text" style ="font-style: italic"><%= "interaction design | web app | design system | b2b" %>
								</p>
						 </div>
							<div class="card-block">

								<p class="card-text"><%= "With Dibs, I designed a booking platform that helps fitness studio owners
									manage their operations, understand their business' sales, and keep their customers coming back." %></p>
														<%= link_to "See the Case Study", main_case11_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
							</div>
						</div>
			</div>

	</div>
</div>
</div>
	</div>
</div>
</div>
