<div class="cover">
<br>
<div class="x">
<div class="row y">
			<h1 class="title3 pink-text"><%="Meditate Awake"%></h1>
</div>
<br>
<div class="row y">
			<%= image_tag("meditateawake.png", class: "wired-img") %>
</div>
<br>
<br>
<div class="row z">
			<p class="typical">Meditate Awake is an application that helps beginner meditators increase
        their meditation time from 5 minutes to 20 minutes through progress tracking and community
        engagement.
			</p>
</div>
<br>
<div class="row ">
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Team<h5>
			<p class="typical list"><%= "Justin Salamanca"  %></p>
			<p class="typical list"><%= "Nelson Gomez"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Tools Used<h5>
			<p class="typical list "><%= "Sketch"  %></p>
			<p class="typical list"><%= "InVision"  %></p>
			<p class="typical list"><%= "Zeplin"  %></p>
			<p class="typical list"><%= "Adobe CC"  %></p>
		</div>
		<div class=" col-lg-4 col-sm-4 col-xs-12 roles ">
			<h5 class="mini head">Research Methods<h5>
			<p class="typical list "><%= "Contextual Interviews"  %></p>
			<p class="typical list"><%= "Usability Testing"  %></p>
      <p class="typical list"><%= "Surveys"  %></p>
		</div>

</div>
<div class="row">
	<h3 class="big head"><%= "Context" %> </h3>
</div>
<div class=" row z">
	<p class="typical"><%= "Meditate Awake is a small company based in Santa Monica,
  California  currently looking to make its first entry into the fitness and mindfulness market
  with an iOS app. Over the course of a few months, I freelanced and made the preliminary design of their app
  over the course of two design iterations (discovery, ideation, implementation, testing)."%>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Problem" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "How might we educate and facilitate
  beginner meditators to improve to their meditation time of 5 minutes to 20 minutes over time?" %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Hypothesis" %> </h3>
</div>
<div class=" row " >
	<p class="typical" style="margin-bottom:0"><%= "We can get beginner meditators to a 20 minute average meditation time
  by helping them keep track of their progress and by keeping them accountable for their habit by encouraging community engagement." %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="big head"><%= "Project Goals and Specifications" %> </h3>
</div>
<div class="row ">
  <p class="typical"><%= "As a consultant, we did our best to hash out our client's expectations and needs. To keep within scope amidst changing expectations, we set a couple of goals with our client: " %>

		<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
			<p class="typical list space">1. Streamline the meditation and goal-setting process through an MVP </p>
			<p class="typical list space">2. Connect the process of meditation and goal-setting to an actual daily life experience</p>
      <p class="typical list">3.Set-up a quantitative way to measure how the product is doing in terms of fulfilling the user’s goals </p>
		</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The Beginner Meditator" %> </h3>
</div>
<div class ="row z">
	<br>
	</p>
</div>
<div class="row y">
			<%= image_tag("meditateawake2.png", class: "wired-img") %>
</div>
<div class ="row z">
<p class="typical"><%= "In order to get fast and easy with the initial discovery phase, we started out research by observing diary studies on youtube about people meditating for a week and even up to a month.
We also watched expert classes and talks about meditation to see what they could possibly offer a beginner with their advice. With that out of the way, we started to try to resonate with the personal experience of a user just starting out on meditation. " %>
</p>
	<p class="typical" style="margin-bottom:0">  <strong>However, there are three main takeaways here: </strong></p>

<div class=" row z">


	<div class=" col-lg-11 col-sm-11 col-xs-12 findings">
			<p class="typical list space m-left"><%= "Beginners have a preconceived notion of what meditation is to be like which blocks them from being able to relax." %></p>
			<p class="typical list  space m-left"><%= "Psychologically speaking, beginners don't exactly know how to easily dispose of a thought and let it go"  %></p>
			<p class="typical list  m-left"><%= "People have a multitude of reasons for meditating and they typically fall under self-improvement, sleep, and mental health"  %></p>

	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "Flow" %> </h3>
</div>
<div class="row y">
			<%= image_tag("meditateawake3.png", class: "erd-img") %>
</div>
<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "Establishing the base experience of the app had to come first when it came to designing for this specific problem. Although we wanted to specifically increase
	the average meditating time of our users to 20 minutes, we needed to make it easy for them to be able to meditate, to make it a habit, and to be able to measure their success." %>
	</p>
	<div class="col-lg-2 col-md-6 col-12 col-xs-12 btna">
		<%= link_to "See Full Flow Chart", "https://projects.invisionapp.com/freehand/document/l9SuikpG9", class: "btn btn-primary orange btn-ghost a" %>
	</div>
</div>
<div class="row">
	<h3 class="big head"><%= "The First Iteration" %> </h3>
</div>

<div class=" row z">
	<p class="typical" style="margin-bottom:0"><%= "After building out a basic process and establishing what absolutely needed to be there to achieve our user's goals,
	my client and I wanted to explore how we can keep our users accountable for their meditation habit and facilitate retention.  " %>
	</p>
	<br>
</div>
<div class="row">
	<h3 class="head"><%= "Whiteboarding and Wireframing" %> </h3>
</div>
<div class="row y">
			<%= image_tag("Meditateawake4.png", class: "erd-img") %>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "We started exploring ideas individually first before we came together remotely on InVision Freehand.
	Eventually, we got with two possible solutions we wanted to test:
	" %>
	</p>
	<br>
	<div class="col-lg-11 col-sm-11 col-xs-12 findings  ">
		<p class="typical list space">1. Having an onboarding screen prior to the actual meditation (by introducing friction). </p>
		<p class="typical list">2. Setting-up a community engagement</p>
	</div>
	<br>

</div>

<div class="row">
	<h3 class="head"><%= "Onboarding Feature" %> </h3>
</div>

<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "Given the research we've done,
  we decided to make a screen that informs users on the basics of meditating while dispelling common misconceptions about it as well.
	As an extra step before the main job-to-be-done, we attract attention here first before we go on to the meditation" %>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake5.png", class: "wired-img") %>
	</div>
	<br>
</div>
<div class="row">
	<h3 class="head"><%= "Community Engagement a Possible Solution" %> </h3>
</div>

<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "One proposal made by our client
	was establishing a community of like-minded people. He wanted to start off doing this by sharing the
	content he's been making and his social media as one feature. Given the problem set, we also decided
	to set-up recording insights from our users and showing them the app can possibly offer. "

	 %>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake6.png", class: "wired-img") %>
	</div>
</div>
<div class="row">
	<h3 class="head"><%= "Progress Tracking Feature" %> </h3>
</div>

<div class="row y">
	<p class="typical" style="margin-bottom:0"> <%= "In the spirit of helping users keep habits, we thought it
	was a sound decision to start habits by giving people information about their performance during their meditation."  %>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake7.png", class: "wired-img") %>
	</div>
</div>
<div class="row">
	<h3 class="head"><%= "Testing and Findings" %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "After building out a preliminary set of screens,
	we built a prototype and went straight on to testing. From it, we found that
	people thought of meditation as a PERSONAL experience, and as such having the social aspect structured like that
	wasn't entirely effective at motivating them to keep their meditation habit. Users didn't really find the client's content as something
	they would particularly be interested, and thus, it was very unhelpful. We did, however, get positive feedback on both the progress tracking and
	the onboarding. " %>
	<br>

	</p>
</div>
<div class="row">
	<div class="col-lg-3 col-12 col-md-5 col-xs-12", 	style="padding-left: 0">
		<%= link_to "Read Our Test Plan", "https://docs.google.com/document/d/1TEi4X0Yg5hRdpMtn2gdz_MRIO0R561wnBtyYO93-z2U/edit?usp=sharing", class: "btn btn-primary orange btn-ghost a"%>
	</div>
	 <div class="col-lg-2 col-md-6 col-12 col-xs-12 btna">
		 <%= link_to "See Our Findings", "https://docs.google.com/presentation/d/1OkIFiaPD4upAhA2ZTQDXLh80QZNuc3zG2Tbo7BGj77s/edit?usp=sharing", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>

	</p>
</div>
<div class="row">
	<h3 class="big head"><%= "The Second Iteration" %> </h3>
</div>
<div class="row y">
		<p class="typical" style="margin-bottom:0"><%= "With our prior insights, we started rebuilding things out to integrate the things we learned
		into the design.
		" %>
		<br>
	<br>
</div>

<div class="row">
	<h3 class="head"><%= "Goal Setting" %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "Given the feedback we received, we decided to focus more on the self-growth aspect of the app.
	As such we added a goal setting feature that's trackable through the progress screen (quantitatively and qualitatively) while retaining enough flexibility to allow the user
	to pivot between goals.
	" %>
	<br>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake8.png", class: "wired-img") %>
	</div>
</div>
<div class="row">
	<h3 class="head"><%= "Community Engagement" %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "By request, the client still wanted to have a community aspect inside the app to retain a competitive edge
	over other meditation services that do similar things. As such, we thought of one solution: imagine after each guided meditation that the narrator will prompt
	you a question audibly. After that, you'll be asked if you want to participate and record your answer for your growth. With voice recordings from the user,
	the client can create a highlights reel that contains the best answers/insights to the question he posed.""
	" %>
	<br>
	</p>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake9.png", class: "wired-img") %>
	</div>
</div>
<div class="row">
	<h3 class="head"><%= "Final Prototype" %> </h3>

</div>

<div class="row y invision">
	<br>
	<br>
	<iframe class="invision" width="454" height="900" src="https://invis.io/XAMGLQO5D93#/299936144_Start" frameborder="0" allowfullscreen></iframe>
	<br>
	<br>
	<br>
</div>
<div class="row">
	<h3 class="head"><%= "Testing and Findings " %> </h3>
</div>
<div class="row y">
	<p class="typical" style="margin-bottom:0"><%= "After building new designs from our newer insights, we got into testing it again
	through contextual inquiries and surveys. On this round, we generally got positive reactions from our 8 contextual interviewees.
	They loved the fact that they can set their own goals, schedule their next meditation, and see their progress. There was, however, confusion
	from the colors used in the progress screen and the community engagement features as it looked more like it was for blogs or videos.
	" %>
	<br>

	</p>

</div>
<div class="row">
	<div class="col-lg-3 col-12 col-md-5 col-xs-12", 	style="padding-left: 0">
		<%= link_to "Read Our Interview Transcript", "https://docs.google.com/document/d/1fRaEFM--DyGOfg-pdA6DEuodQzF0ic4cpJJnLyxwlv8/edit", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
	 <div class="col-lg-2 col-md-6 col-12 col-xs-12 btna">
		 <%= link_to "See Our Findings", "https://docs.google.com/presentation/d/1d0RCZtcd-GHu1hnZXztwsVBu23wGG191TII8L88P5bM/edit#slide=id.g37f56ae100_0_92", class: "btn btn-primary orange btn-ghost a" %>
	 </div>
</div>

<div class="row">

	<h3 class="big head"><%= "Current Situation" %> </h3>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake10.png", class: "wired-img") %>
	</div>
</div>
<div class="row?">
	<p class="typical" style="margin-bottom:0"><%= "After two iterations, we officially closed the contract in terms of the functional and usable experience.
	With the client, we are currently taking the extra step through visual design for the app and a landing page. Moreover, we are also coordinating with the client as they build out the app's back-end
	for iOS.""
	" %>
</div>
<div class="row y">
	<div class"col-xs-12">
			<%= image_tag("meditateawake11.png", class: "wired-img") %>
	</div>
</div>
<br class="hide-xs">
<br class=" br hide-xs">
<br class=" br hidden-md-down">
<div id="portfolio" class="br">
<br class="hide-xs">
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto;">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio fix">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("xo.jpg", class: 'card-img-top'), main_case8_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Inspire-me Redesign", main_case8_path %></h4>
			   <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | seo | a/b testing" %>
		    	</p>

			 </div>
			  <div class="card-block">
					<p class="card-text"><%=  "An acquisition strategy for the Knot, my internship project sought to help newly engaged brides get inspired and educated about wedding themes through a visual discovery experience"%></p>
			    	    	 		<%= link_to "See the Case Study", main_case8_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("affiliated.png", class: 'card-img-top'), main_case7_path%>
			  <div class="card-header">
			  	   <h4><%= link_to "Affiliated", main_case7_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | interaction design | user research |  " %>
		    	</p>
			 </div>
			  <div class="card-block">

			    <p class="card-text">   <%= "A mobile app for Greek life communities that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization nationwide." %></p>


			 		<%= link_to "See the Case Study", main_case7_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>
			</div>
		</div>
	</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<br>
<br>
</div>
</div>
