<div class="x">
	<br id="aboutme">
<div class="row" >
	<div class="line"  style="padding-left:0">
			<hr>
	</div>
	<div class="col-sm-2" style="padding:0">
			<p class="header" ><%= 'about me' %></p>
	</div>
	<div class="line" >
			<hr>
	</div>
</div>
<br>
<div class="row">
	<h1 class="title"><%='Nelson Gomez - UX Researcher'%></h1>
</div>
<div class="row">

		<p class="no-tb-marg subtitle"><%= 'nelsonremolonagomez@gmail.com' %> </p>
</div>
<div class="row">
			<p class="no-tb-marg subtitle"><%= '951-269-0566' %> </p>
</div>
<div class="row" style="margin-top:25px">
<%= link_to image_tag("facebook-logo-outline.png") , "http://www.facebook.com/nelgomez", class: 'socialmedia', style:"padding-left:0" %>	
<%= link_to image_tag("twitter-social-outlined-logo.png") , "http://www.twitter.com/quinxed", class: 'socialmedia'  %>	
<%= link_to image_tag("linkedin-social-outline-logotype.png") , "http://www.linkedin.com/nelgomez", class: 'socialmedia'  %>
<%= link_to image_tag("medium.png") , "http://www.medium.com/nelgomez", class: 'socialmedia' %>
</div>
<div class="row">

		<p class="aboutme"> <%= 'As an advocate for user experience, I utilize design, research,   project management, and code to make technology socially-relevant and useful to people no matter the demographic.' %></p>
</div>
<div class="row">
	<%= link_to "Download Resume", "nelson-gomez-resume2.pdf", class: "btn btn-primary orange btn-lg" %>
</div>
<br>
<br>	
<br id="portfolio">	
<br>	
<div class="row" >
	<div class="line"  style="padding-left:0">
			<hr>
	</div>
	<div class="col-sm-2" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line" >
			<hr>
	</div>
</div>
<br>
<br>
<div class="portfolio">
	<div class="row">
		<div class="col-sm-5" style="padding-left:0">
			<h2 class="ptitle"><%= 'AISIS Redesign' %> </h2>
			<p class="pdesc"><%= 'With my organization, User Experience Society, I helped understand how students felt about our alma maters enlistment system and suggested solutions.' %></p>
		
			<p class="pdesc century" style="margin-top: 30px"><%='research | interaction | hi-fi design | medium article' %> </p>
			<br>
			<%= link_to "-see the case study-", root_path, class: "pdesc orange-text bold" %>
		</div>
		<div class="col-sm-6 offset-sm-1">
			<%= image_tag("aisis.png",  class: "img-responsive") %> 
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-7  " >
			<%= image_tag("manly.png",  class: "img-responsive") %> 
		</div>
		<div class="col-sm-5 ">
			<h2 class="ptitle"><%= 'Manly Plastics CIMS' %> </h2>
			<p class="pdesc"><%= 'As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation.' %></p>
			<p class="pdesc century" style="margin-top: 30px"><%='project management | business analysis | interaction | hi-fi design | code' %> </p>
			<br>
			<%= link_to "-see the case study-", root_path, class: "pdesc orange-text bold" %>	
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-5" style="padding-left:0">
			<h2 class="ptitle"><%= 'Burger King Brand Analysis ' %> </h2>
			<p class="pdesc"><%= 'Along with four others, I analyzed how Burger King was performing in the Filipino market, and gave recommendations for improvement to their managers.' %></p>
		
			<p class="pdesc century" style="margin-top: 30px"><%='marketing research | brand management' %> </p>
			<br>
			<%= link_to "-see the case study-", root_path, class: "pdesc orange-text bold" %>
			</div>
		<div class="col-sm-6 offset-sm-1">
			<%= image_tag("burger king.png", class: "img-responsive") %> 
		</div>
	</div>
</div>
<br>
<br>	
<br>
<br>	
<div class="row" id="blogarticles">
	<div class="line"  style="padding-left:0">
			<hr>
	</div>
	<div class="col-sm-2" style="padding:0">
			<p class="header" ><%= 'blog articles	' %></p>
	</div>
	<div class="line" >
			<hr>
	</div>
</div>
<br>
<br>	
<br>
<div class="blog articles">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4" style="padding-left:0">
			<div class="card" style="width: 20rem;">
				<%= image_tag("aisis2.jpeg", class: 'card-img-top') %> 
			  <div class="card-block">
			    <h4>Why AISIS Desperately Needs A Redesign</h4>
			    <br>
			    <p class="card-text">And Why We Need to Reevaluate Our Perceptions of It</p>
			    	    <br>
			    <%= link_to "-read more-", "https://blog.uxsociety.ph/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b", class: "pdesc orange-text bold" %>
			  </div>	
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4" style="padding-left:0">
			<div class="card" style="width: 20rem;">
				<%= image_tag("4.jpeg", class: 'card-img-top') %> 
			  <div class="card-block">
			    <h4 >Leading and Managing with Usability in Mind	</h4>
			    <br>
			    <p class="card-text">What’s the Best Way to Manage and Lead in the First Place?</p>
			    	    <br>
			    <%= link_to "-read more-", "https://blog.uxsociety.ph/leading-and-managing-with-usability-in-mind-a62b619c1dc4", class: "pdesc orange-text bold" %>
			  </div>	
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4" style="padding-left:0">
			<div class="card" style="width: 20rem;">
				<%= image_tag("3.jpeg", class: 'card-img-top') %> 
			  <div class="card-block">
			    <h4 >UX Design Critique on TALAB and its Enlistment Process</h4>
			
			    <p class="card-text">And Why Design Should Matter For the Atenean</p>
			  			        	    <br>
			    <%= link_to "-read more-", "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945", class: "pdesc orange-text bold" %>
			  </div>	
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4" style="padding-left:0">
			<div class="card" style="width: 20rem;">
				<%= image_tag("pm.jpeg", class: 'card-img-top') %> 
			  <div class="card-block">
			    <h4 >7 Ways You Can Improve as a Project Manager</h4>
			    <br>
			    <p class="card-text">What Can Possibly Go Wrong?</p>
			        <br>	
			    <%= link_to "-read more-", "https://blog.uxsociety.ph/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8", class: "pdesc orange-text bold" %>
			  </div>	
			</div>
		</div>
	</div>
</div>


</div>
<div class="footer">
	  <br>
	  <br>
	  <div class="container">
			<div class="row">
				<div class="col-sm-4 offset-sm-4">
					<h4 class= "fname"><%='Nelson Gomez'%></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 offset-sm-4">
					<p class="no-tb-marg fsub"><%= 'nelsonremolonagomez@gmail.com' %> </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 offset-sm-4">
						<p class="no-tb-marg fsub"><%= '951-269-0566' %> </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 offset-sm-4">	
					<div class="resume">
				        <%= link_to "download resume", "nelson-gomez-resume2.pdf", class: "fsub orange-text", style: "margin:auto" %>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 offset-sm-5 socialmedia2" style="margin-top:5px">
					<%= link_to image_tag("facebook-logo-outline.png") , "http://www.facebook.com/nelgomez", class: 'socialmedia socialmedia2' %>	
						
					<%= link_to image_tag("twitter-social-outlined-logo.png") , "http://www.twitter.com/quinxed", class: 'socialmedia'  %>
					<%= link_to image_tag("linkedin-social-outline-logotype.png") , "http://www.linkedin.com/nelgomez", class: 'socialmedia'  %>
					<%= link_to image_tag("medium.png") , "http://www.medium.com/nelgomez", class: 'socialmedia socialmedia3' %>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

