<div class="x">
<br>

<div class="row">
	<div class="col-lg-5">
		<div class="row z"><div id="aboutme" style="height:1px; width:1px;"></div>
				<%= image_tag("face.png",  class: "img-responsive face") %> 
		</div>
		<div class="row z ">
			<h1 class="title v"><%='Nelson Gomez'%></h1>
		</div>
		<div class="row z">
			<h2 class="title title2"><%='freelance ux designer and researcher '%></h1>
		</div>
		<div class="row z">
			<p class="no-tb-marg subtitle"><%= 'nelsonremolonagomez@gmail.com' %> </p>
		</div>
		<div class="row z">
		
				<p class="no-tb-marg subtitle"><%= '951-269-0566' %> </p>
		</div>
		<div class="row z zb">
			<%= link_to image_tag("facebook-logo-outline.png") , "http://www.facebook.com/nelgomez", class: 'socialmedia zc'%>	
			<%= link_to image_tag("linkedin-social-outline-logotype.png") , "https://www.linkedin.com/in/nelgomez/", class: 'socialmedia'  %>
			<%= link_to image_tag("medium.png") , "http://www.medium.com/@nelgomez", class: 'socialmedia' %>
		</div>
		<div class="row z">
			<%= link_to "Download Resume", "nelson-gomez-resume2.pdf", class: "btn btn-primary orange btn-lg", style:"margin-top: 40px; margin-bottom:0 !important;"%>
		</div>
	</div>
	<div class="col-lg-7">
		
	<br > 
	<div class="row">
		<p class="aboutme"><%= ""%></p>
		<p class="aboutme">As an advocate of user experience, <strong>I use research, design, code, and project management to help make technology socially relevant and useful to people no matter the demographic. </strong> I’ve been doing exactly that for the last two years. </p>
			<p class="aboutme">I’ve <strong>taken on several projects</strong> that help make technology compatible to how people actually work. I managed to teach underclassmen about design and research methods, as well as help a team of four win a case study competition.  I also take pride in <strong>making waves in my alma mater’s community through <a style="color:#f4427a"href="https://blog.uxsociety.ph/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b">an article I wrote about our enlistment system which gathered 2.7K views and a 43% read rate.</a></strong></p>
		<p class="aboutme"><%="And now, I’m ready to take on more, one step at a time." %>

	</div>
	</div>
	<div id="portfolio" style="height:1px; width:1px;">
</div>
<br class="hide-xs"> 	
<br class=" br hide-xs">
</div>
<br class=" br hidden-md-down">	
<div  class="br">
<br class="hide-xs">	
<div class="row za"  style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line" >
			<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" 
				<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%> 
			  <div class="card-block">
			    <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
			    <br>
			    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
			    	   
			 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" 
				<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
			  <div class="card-block">
			    <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>
			    <br>
			    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
			   
			 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" 
				<%= link_to image_tag("burger king 2.png", class: 'card-img-top'),main_case3_path %> 
			  <div class="card-block">
			    <h4><%= link_to "Burger King Brand Analysis", main_case3_path %></h4>
			    <br>
			    <p class="card-text"><%= "Along with four others, I analyzed how Burger King was performing in the Philippines, and gave recommendations for improvement to their managers." %></p>
			    	    	 		<%= link_to "See the Case Study", main_case3_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>
		</div>
	</div>	
</div>
<div id="blogarticles" style="height:1px; width:1px;"></div>
<br class="hide-xs">
<br class="hide-xs">	
<br>
<br>	
<div class="row za" style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'blog articles' %></p>
	</div>
	<div class="line" >
			<hr>
	</div>
</div>
<br>
<br class="hide-xs">	
<br class="hide-xs">
<div class="blog articles">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("aisis2.jpeg", class: 'card-img-top'), "https://blog.uxsociety.ph/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",   target: :_blank%> 
			  <div class="card-block">
			    <h4><%= link_to "Why AISIS Desperately Needs A Redesign",  "https://blog.uxsociety.ph/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",  target: :_blank %></h4>
			    <br>
			    <p class="card-text">And Why We Need to Reevaluate Our Perceptions of It</p>
			    	    <br>
			    <%= link_to "Read More", "https://blog.uxsociety.ph/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" >
				<%= link_to image_tag("4.jpeg", class: 'card-img-top'), "https://blog.uxsociety.ph/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %> 
			  <div class="card-block">
				    <h4><%= link_to "Leading and Managing with Usability in Mind",  "https://blog.uxsociety.ph/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %></h4>
			    <br>
			    <p class="card-text">What’s the Best Way to Manage and Lead in the First Place?</p>
			    	    <br>
			    <%= link_to "Read More", "https://blog.uxsociety.ph/leading-and-managing-with-usability-in-mind-a62b619c1dc4", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as" style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("3.jpeg", class: 'card-img-top'), "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",   target: :_blank %> 
			  <div class="card-block">
			    <h4 ><%= link_to "UX Design Critique on TALAB and its Enlistment Process", "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",  target: :_blank %> </h4>
				<br class="show-weird">
			    <p class="card-text">And Why Design Should Matter For the Atenean</p>
			  			        	    <br>
			    <%= link_to "Read More", "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" 
				<%= link_to image_tag("pm.jpeg", class: 'card-img-top'), "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945" %> 
			  <div class="card-block">
			    <h4 >	<%= link_to "7 Ways You Can Improve as a Project Manager", "https://blog.uxsociety.ph/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945" %> </h4>
			    <br>
			    <p class="card-text">What Can Possibly Go Wrong?</p>
			        <br>	
			    <%= link_to "Read More", "https://blog.uxsociety.ph/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",  target: :_blank%>
			  </div>	
			</div>
		</div>
	</div>
</div>


</div>
</div>
</div>

</div>