<div class="x">
<br>

<div class="row">
	<div class="col-lg-5">
		<div class="row z"><div id="aboutme" style="height:1px; width:1px;"></div>
				<%= image_tag("face.png",  class: "img-responsive face") %> 
		</div>
		<div class="row z ">
			<h1 class="title v"><%='Nelson Gomez'%></h1>
		</div>
		<div class="row z">
			<h2 class="title title2"><%='ux designer '%></h1>
		</div>
		<div class="row z">
			<p class="no-tb-marg subtitle"><%= link_to 'nelsonremolonagomez@gmail.com', "mailto:nelsonremolonagomez@gmail.com" %> </p>
		</div>
		<div class="row z">
		
				<p class="no-tb-marg subtitle"><%= '951-269-0566' %> </p>
		</div>
		<div class="row z zb">
			<%= link_to image_tag("linkedin-social-outline-logotype.png") , "https://www.linkedin.com/in/nelgomez/", class: 'socialmedia', style:'	padding-right:25px !important;' %>
			<%= link_to image_tag("medium.png") , "http://www.medium.com/@nelgomez", class: 'socialmedia', style:'	padding-right:25px !important;'%>
		</div>
		<div class="row z">
			<%= link_to "Download Resume", "https://drive.google.com/file/d/0B_FrSfuPKli9aVJYX0dGSGg0akU/view?usp=sharing", class: "btn btn-primary orange btn-lg", style:"margin-top: 40px; margin-bottom:0 !important;"%>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row za" >
				<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
				<hr>
				</div>
				<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
				<p class="header" ><%= 'specialties' %></p>
				</div>
				<div class="line zae" style=" margin-right: auto;">
					<hr>
				</div>
				<div class="specialtieshead">
					<div class="row center">
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4  " style="padding-left:0">
							<%= image_tag("IXD.png", class: 'specialties') %>
							<p>INTERACTION<br>DESIGN</p>
						</div>
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 " style="padding-left:0">
							<%= image_tag("brain.png", class: 'specialties') %>
							<p>USER<br>RESEARCH</p>
						</div>
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 " style="padding-left:0">
							<%= image_tag("scream.png", class: 'specialties') %>
							<p>VISUAL<br>DESIGN</p>
						</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row za">
				<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
				<hr>
				</div>
				<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
				<p class="header" ><%= 'achievements' %></p>
				</div>
				<div class="line zae" style=" margin-right: auto;">
					<hr>
				</div>
				<div class=" findings2" style="margin-top:15px !important">
					<p class="typical list2 space2 m-left">Published <strong><a href="https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f" > an article, "The Humanities Belong in Tech and UX" with uxdesign.cc</a></strong></p>
					<p class="typical list2 space2 m-left"> Reduced the time for a company to 
						<%= link_to "generate reports from a minimum 3 days to a 5 second average",main_case2_path %></p> 
					<p class="typical list2 m-left">Created an artifact with insights from 5 different contextual interviews which was used in a succeeding design sprint for a product with an estimated worth of $4.5 mil in 1 year</p>
				</div>
		</div>
	</div>
	
</div>

<br class=" br hidden-md-down">	
<div  class="br" id="portfolio">
<br class="hide-xs">	
<div class="row za"  style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as" style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("xo.jpg", class: 'card-img-top'),main_case8_path %> 
			  <div class="card-header">
			  	   <h4><%= link_to "Inspire-me Redesign", main_case8_path %></h4>
			   <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research | seo | a/b testing" %>
		    	</p>
			 </div>
			  <div class="card-block">
			 
			    <p class="card-text"><%= "An acquisition strategy for the Knot, my internship project had me design a visual discovery experience for newly engaged brides looking to get inspired fo their wedding." %></p>
			    	    	 		<%= link_to "See the Case Study", main_case8_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>

			
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("affiliated.png", class: 'card-img-top'), main_case7_path%> 
			  <div class="card-header">
			  	   <h4><%= link_to "Affiliated", main_case7_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| app development | interaction design | user research |  " %>
			    	
		    	</p>
			 </div>
			  <div class="card-block">
		
			    <p class="card-text">   <%= "A mobile app for Greek life communities that helps manage their assets and activities whilst connecting them to other communities within the larger scope of their organization." %></p>
			 
			    	   
			 		<%= link_to "See the Case Study", main_case7_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">

			<div class="card">

				<%= link_to image_tag("aisis3.png", class: 'card-img-top'), main_case1_path%>
			 <div class="card-header">
			   <h4><%= link_to "AISIS Redesign", main_case1_path %></h4>
			    <p class="card-text" style ="font-style: italic"><%= "| interaction design | user research |" %></p>

			 </div>
			  <div class="card-block">
			   
			    <p class="card-text"><%= "With my organization, User Experience Society, I researched how students felt about our alma mater's enlistment system. I made an article about it and also a design recommendation." %></p>
			    	   
			 		<%= link_to "See the Case Study", main_case1_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
			  </div>	
			</div>
		</div>

		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("manly5.png", class: 'card-img-top'),  main_case2_path %> 
			 <div class="card-header">
			  	 <h4><%= link_to "Manly Plastics' CIMS", main_case2_path %></h4>

			    <p class="card-text" style ="font-style: italic"><%= "| project management | lean ux  | interaction design | code |" %></p>
			 </div>
			  <div class="card-block">
			   

			    <p class="card-text"><%= "As my final requirement for my academics, I led a team of five to analyze, recreate and redesign the Customer Inquiry Management System of a plastics manufacturing corporation." %></p>
			   
			 		<%= link_to "See the Case Study", main_case2_path, class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>	
			</div>
		</div>


	</div>	
	</div>	
</div>
<div id="blogarticles" style="height:1px; width:1px;"></div>
<div class="row" style=" margin-bottom:25px;">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'blog articles' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="hide-xs">	
<br class="hide-xs">
<div class="blog articles">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("aisis2.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",   target: :_blank%> 
			  <div class="card-header">
			  	     <h4><%= link_to "Why AISIS Desperately Needs A Redesign",  "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",  target: :_blank %></h4>
			 </div>
			  <div class="card-block">
			    <p class="card-text">And Why We Need to Reevaluate Our Perceptions of It</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" >
				<%= link_to image_tag("4.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %> 
			  <div class="card-header">
				    <h4><%= link_to "Leading and Managing with Usability in Mind",  "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %></h4>
		
			 </div>
			  <div class="card-block">
			    <p class="card-text">What’s the Best Way to Manage and Lead in the First Place?</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("pm.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8" %> 
			  <div class="card-header">
			    <h4 >	<%= link_to "7 Ways You Can Improve as a Project Manager", "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8" %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">What Can Possibly Go Wrong in Your Project?</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",  target: :_blank%>
			  </div>	
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as" style="padding-left:0; margin-left:auto !important;">
			<div class="card">
				<%= link_to image_tag("3.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",   target: :_blank %> 
		   	  <div class="card-header">
			    <h4 ><%= link_to "UX Design Critique on TALAB Enlistment", "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",  target: :_blank %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">And Why Design Should Matter For the Atenean</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>	
			</div>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as" style="padding-left:0; margin-right:auto !important;">
			<div class="card">
				<%= link_to image_tag("humanities.jpeg", class: 'card-img-top'), "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f",   target: :_blank %> 
		   	  <div class="card-header">
			    <h4 ><%= link_to "The Humanities Belong in Tech and UX", "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f",  target: :_blank %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">A Dialog on Why the Humanities is the Next Frontier (uxdesign.cc)</p>
			    <%= link_to "Read More", "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f", class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>	
			</div>
		</div>
	
	
	</div>
</div>


</div>
</div>
</div>

</div>