<div class="x">
<br>

<div class="row">
	<div class="col-lg-5">
		<div class="row z"><div id="aboutme" style="height:1px; width:1px;"></div>
				<%= image_tag("IMG_3478.jpg",  class: "img-responsive face") %>
		</div>
		<div class="row z ">
			<h1 class="title v"><%='Nelson Gomez'%></h1>
		</div>
		<div class="row z">
			<h2 class="title title2"><%='ux designer '%></h1>
		</div>
		<div class="row z">
			<p class="no-tb-marg subtitle"><%= link_to 'nelsrgomez@gmail.com', "mailto:nelsrgomez@gmail.com" %> </p>
		</div>
		<div class="row z">

				<p class="no-tb-marg subtitle"><%= '(951) 269-0566' %> </p>
		</div>
		<div class="row z zb">
			<%= link_to image_tag("linkedin.png") , "https://www.linkedin.com/in/nelgomez/", class: 'socialmedia', style:'	padding-right:25px !important;' %>
			<%= link_to image_tag("medium.png") , "http://www.medium.com/@nelgomez", class: 'socialmedia', style:'	padding-right:25px !important;'%>
		</div>
		<div class="row z">
			<%= link_to "Download Resume", "https://drive.google.com/file/d/0B_FrSfuPKli9aVJYX0dGSGg0akU/view?usp=sharing", class: "btn btn-primary orange btn-lg", style:"margin-top: 40px; margin-bottom:0 !important;"%>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row za" >
				<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
				<hr>
				</div>
				<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
				<p class="header" ><%= 'specialties' %></p>
				</div>
				<div class="line zae" style=" margin-right: auto;">
					<hr>
				</div>
				<div class="specialtieshead">
					<div class="row center">
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4  " style="padding-left:0">
							<%= link_to image_tag("IXD.png", class: 'specialties'), main_case11_path %>
							<p>INTERACTION<br>DESIGN</p>
						</div>
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 " style="padding-left:0">
							<%= link_to image_tag("brain.png", class: 'specialties'), main_case8_path %>
							<p>USER<br>RESEARCH</p>
						</div>
						<div class="col-xs-12  col-sm-6 col-md-4 col-lg-4 " style="padding-left:0">
							<%= link_to image_tag("scream.png", class: 'specialties'), root_path(anchor: 'illu') %>
							<p>VISUAL<br>DESIGN</p>
						</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row za">
				<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
				<hr>
				</div>
				<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
				<p class="header" ><%= 'achievements' %></p>
				</div>
				<div class="line zae" style=" margin-right: auto;">
					<hr>
				</div>
				<div class=" findings2" style="margin-top:15px !important">
					<p class="typical list2 space2 m-left">Designed a wellness app called <strong><%= link_to "Dibs","https://itunes.apple.com/us/app/on-dibs/id1443446366"%></strong>. It got 1500 users and a 45% conversion rate six weeks from launch.  </p>

					<p class="typical list2 space2 m-left">Published <a href="https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f" ><strong>an article, "The Humanities Belong in Tech and UX" </a></strong>with the UX Design Collective</p>
					<p class="typical list2  m-left"> Launched, managed, and designed a shoe shining service app called 	<strong><%= link_to "DapperNYC","https://itunes.apple.com/us/app/dappernyc/id1381468910?mt=8" %>.</strong></p>

				</div>
		</div>
	</div>

</div>

<br class=" br hidden-md-down">
<div  class="br" id="portfolio">
<br class="hide-xs">
<div class="row za"  style="margin:auto">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'portfolio' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="show-xs">
<br class="hide-xs">
<br class="hide-xs">
<div class="portfolio">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as " style="padding-left:0">
					<div class="card">
						<%= link_to image_tag("dibs.png", class: 'card-img-top'),main_case11_path %>
					  <div class="card-header">
					  	   <h4><%= link_to "Dibs Marketplace", main_case11_path %></h4>
					   <p class="card-text" style ="font-style: italic"><%= "interaction design | app development | visual identity" %>
				    	</p>
					 </div>
					  <div class="card-block">

					    <p class="card-text"><%= "With Dibs, I designed an app that helps women interested in wellness and fitness
								afford the lifestyle they want through microincentives. 6 weeks after launch,
								it got 1.5k users." %></p>
					    	    	 		<%= link_to "See the Case Study", main_case11_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
					  </div>
					</div>


			</div>
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as   " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("meditateawake.png", class: 'card-img-top'), main_case10_path%>
				<div class="card-header">
						 <h4><%= link_to "Meditate Awake", main_case10_path %></h4>
					<p class="card-text" style ="font-style: italic"><%= " app development | interaction design | freelance   " %>
					</p>
			 </div>
				<div class="card-block">

					<p class="card-text">   <%= "Meditate Awake is an application that helps beginner meditators increase
						their meditation time from 5 minutes to 20 minutes through progress tracking and community
						engagement." %></p>


					<%= link_to "See the Case Study", main_case10_path, class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important"%>
				</div>
			</div>
		</div>

<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 as ml-auto mr-auto " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("xo.jpg", class: 'card-img-top'),main_case8_path %>
			  <div class="card-header">
			  	   <h4><%= link_to "Inspire-me Redesign", main_case8_path %></h4>
			   <p class="card-text" style ="font-style: italic"><%= " interaction design | user research | seo | a/b testing" %>
		    	</p>
			 </div>
			  <div class="card-block">

			    <p class="card-text"><%= "An acquisition strategy for the Knot, my internship project had me design a visual discovery experience for newly engaged brides looking to get inspired fo their wedding." %></p>
			    	    	 		<%= link_to "See the Case Study", main_case8_path  , class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important" %>
			  </div>
			</div>


	</div>




	</div>
	</div>
</div>
<div id="illu" style="width:1px; height:1px">
</div>
<div class="illustrations and branding" >
	<div class="row" style=" margin-bottom:25px;">
		<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
				<hr>
		</div>
		<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
				<p class="header" ><%= 'illustrations ' %></p>
		</div>
		<div class="line zae" style=" margin-right: auto;">
					<hr>
		</div>
	</div>
	<div class="contaner">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-xs-12 ml-auto mr-auto">
				<div class="item item-flex">
				    <img src="/assets/waving woman-01.png" alt="" />
				    <br>
				    <img class="item-flex-img" src="/assets/gooey-01.png" alt="" />
						<br>
				  </div>
				  <br>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12 ml-auto mr-auto">
				  <div class="item item-flex">
				    <img class="item-flex-img" src="/assets/main.png" alt="" />
				    <br>
						<img class="item-flex-img" src="/assets/art2.png" alt="" />
						<br>

				  </div>
			</div>
			<div class="col-lg-4 col-sm-12 col-xs-12 ml-auto mr-auto">
				 <div class="item item-flex">
				 	  <img src="/assets/ahrt-01.png" alt="" />

				   <br>
				    <img class="item-flex-img-big" src="/assets/icons-26.png" alt="" />
				   <br>

				  </div>
			</div>
	  	</div>


	</div>

</div>
<br class="hide-xs">
<br class="hide-xs">
<div id="blogarticles" style="height:1px; width:1px;"></div>
<div class="row" style=" margin-bottom:25px;">
	<div class="line offset-sm-3 zad"  style="padding-left:0; margin-left:auto">
			<hr>
	</div>
	<div class=" col-5 col-sm-4 col-md-4" style="padding:0">
			<p class="header" ><%= 'blog articles' %></p>
	</div>
	<div class="line zae" style=" margin-right: auto;">
				<hr>
	</div>
</div>
<br class="hide-xs">
<br class="hide-xs">
<div class="blog articles">
	<div class="row center">
		<div class="col-xs-12  col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("aisis2.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",   target: :_blank%>
			  <div class="card-header">
			  	     <h4><%= link_to "Why AISIS Desperately Needs A Redesign",  "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b",  target: :_blank %></h4>
			 </div>
			  <div class="card-block">
			    <p class="card-text">And Why We Need to Reevaluate Our Perceptions of It</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/why-aisis-desperately-needs-a-redesign-7529dc3b6b7b", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card" >
				<%= link_to image_tag("4.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %>
			  <div class="card-header">
				    <h4><%= link_to "Leading and Managing with Usability in Mind",  "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4",  target: :_blank %></h4>

			 </div>
			  <div class="card-block">
			    <p class="card-text">What’s the Best Way to Manage and Lead in the First Place?</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/leading-and-managing-with-usability-in-mind-a62b619c1dc4", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank%>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as " style="padding-left:0">
			<div class="card">
				<%= link_to image_tag("pm.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8" %>
			  <div class="card-header">
			    <h4 >	<%= link_to "7 Ways You Can Improve as a Project Manager", "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8" %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">What Can Possibly Go Wrong in Your Project?</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/7-ways-you-can-improve-as-a-project-manager-e5f9abc690a8", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",  target: :_blank%>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as" style="padding-left:0; margin-left:auto !important;">
			<div class="card">
				<%= link_to image_tag("3.jpeg", class: 'card-img-top'), "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",   target: :_blank %>
		   	  <div class="card-header">
			    <h4 ><%= link_to "UX Design Critique on TALAB Enlistment", "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945",  target: :_blank %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">And Why Design Should Matter For the Atenean</p>
			    <%= link_to "Read More", "https://medium.com/user-experience-society/ux-design-critique-on-talab-and-its-enlistment-process-4680157e6945", class: "btn btn-primary orange btn-ghost",  style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>
			</div>
		</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 as" style="padding-left:0; margin-right:auto !important;">
			<div class="card">
				<%= link_to image_tag("humanities.jpeg", class: 'card-img-top'), "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f",   target: :_blank %>
		   	  <div class="card-header">
			    <h4 ><%= link_to "The Humanities Belong in Tech and UX", "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f",  target: :_blank %> </h4>
   			 </div>
			  <div class="card-block">
			    <p class="card-text">A Dialog on Why the Humanities is the Next Frontier (uxdesign.cc)</p>
			    <%= link_to "Read More", "https://uxdesign.cc/the-humanities-belong-in-tech-and-ux-dbe93170873f", class: "btn btn-primary orange btn-ghost", style: "margin-bottom: 0 !important",   target: :_blank %>
			  </div>
			</div>
		</div>


	</div>
</div>


</div>
</div>
</div>

</div>
