<!DOCTYPE html>
<html>
  <head>
    <title>Nelson Gomez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

 	<nav class="navbar fixed-top navbar-light bg-faded">
	  <ul class="navbar-nav mr-auto ">
	      <li class="nav-item ">
	       <%=  link_to "about me", root_path(anchor: 'aboutme'), class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	          <%=  link_to "portfolio",  root_path(anchor: 'portfolio'), class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	          <%=  link_to "blog articles",  root_path(anchor: 'blogarticles'), class: "nav-link" %>
	      </li>
    </ul>
      <ul class="navbar-nav mr-auto right" style="margin-right:0 !important">
	      <li class="nav-item ">
	        <%= link_to "download resume", "nelson-gomez-resume2.pdf", class: "nav-link orange-text" %>
	      </li>
    </ul>
	</nav>
  <body>

    <%= yield %>
  </body>
  
</html>
