<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nelson Gomez - Product Designer</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="I'm a versatile product designer living in New York City. With my background in project management and systems analysis, I love fleshing out solutions to the point that'll make an impact.">
    <meta name="msvalidate.01" content="55C9A52ABF69B8D8E9F0ED77A629C2E6" />
    <meta name="keywords" content="Nelson, Gomez, User Experience Society, Dibs Technology, Dapper, The Knot, Weddings, Nelson Gomez, UX Designer, HTML,CSS,User Experience, UX, HTML/CSS, Project Management, Market Research, Research, User Research, Interaction Design, Ruby on Rails">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <%= favicon_link_tag 'monogram.png' %>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101513139-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>


  </head>

 	<nav class="navbar fixed-top navbar-light bg-faded hide-xs">
     <%=  link_to image_tag("monogram2.png", class: 'logo'),  root_path, class: "navbar-brand" %>
	  <ul class="navbar-nav mr-auto" style="padding-left: 20px;">
	      <li class="nav-item">
	          <%=  link_to "Portfolio",  root_path(anchor: 'portfolio'), class: "nav-link" %>
	      </li>
        <li class="nav-item">
            <%=  link_to "Illustrations",  root_path(anchor: 'illu'), class: "nav-link" %>
        </li>
	      <li class="nav-item">
	          <%=  link_to "Blog Articles",  root_path(anchor: 'blogarticles'), class: "nav-link" %>
	      </li>
    </ul>
      <ul class="navbar-nav mr-auto right" style="margin-right:0 !important">
	      <li class="nav-item ">
	 		        <%= link_to "Get In Touch", "mailto:nelsrgomez@gmail.com?subject=Inquiry"  , class: "btn btn-primary orange btn",  style: "margin-bottom: 0 !important" %>
	      </li>
    </ul>
	</nav>
  <nav class="show-xs fixed-top">

        <div class="scrollmenu">
           <%=  link_to image_tag("monogram.png", class: 'logo'),  root_path, class: "navbar-brand" %>
           <%= link_to "get in touch", "mailto:nelsrgomez@gmail.com?subject=Inquiry", class: "nav-link pink-text", style: "padding-left:0" %>
       <%=  link_to "portfolio",  root_path(anchor: 'portfolio'), class: "nav-link" %>
       <%=  link_to "illustrations",  root_path(anchor: 'illu'), class: "nav-link" %>
      <%=  link_to "blog articles",  root_path(anchor: 'blogarticles'), class: "nav-link", onClick: "gaq_.push(‘_trackEvent’, ‘PDF Downloads’, ‘Click’, ‘Resume Views’)";%>


    </div>
  </nav>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
<div id="aboutme" style="height:1px; width:1px;"></div>
    <%= yield %>
  </body>
  <div class="footer">
    <br>
    <br>
    <div class="container">
      <div class="row y">

          <h4 class= " no-tb-marg fname"><%='Nelson Gomez'%></h4>
      </div>
      <div class="row y">
          <p class="no-tb-marg fsub "><%= 'nelsrgomez@gmail.com' %> </p>
      </div>
      <div class="row y">

            <p class="no-tb-marg fsub"><%= '(951) 269-0566' %> </p>

      </div>
      <div class="row y">
          <div class="resume" style="margin-bottom:15px">
                <%= link_to "get in touch", "mailto:nelsrgomez@gmail.com?subject=Inquiry", class: "fsub pink-text", style: "margin:auto" %>
            </div>
      </div>
      <div class="row">

       <div class="col-xs-12 col-md-4 col-lg-2 col-xl-2 ml-auto mr-auto socialmedia2" style="margin-top:5px !important;">

          <%= link_to image_tag("linkedin.png") , "https://www.linkedin.com/in/nelgomez/", class: 'socialmedia'  %>
          <%= link_to image_tag("medium2.png") , "http://www.medium.com/@nelgomez", class: 'socialmedia ' %>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>

</html>
