<!DOCTYPE html>
<html>
  <head>
    <title>Nelson Gomez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

 	<nav class="navbar fixed-top navbar-light bg-faded hide-xs">
     <%=  link_to image_tag("personal logo.png", class: 'logo'),  root_path(anchor: 'blogarticles'), class: "navbar-brand" %>
	  <ul class="navbar-nav mr-auto" style="padding-left: 20px;">
	      <li class="nav-item ">
	       <%=  link_to "About Me", root_path(anchor: 'aboutme'), class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	          <%=  link_to "Portfolio",  root_path(anchor: 'portfolio'), class: "nav-link" %>
	      </li>
	      <li class="nav-item">
	          <%=  link_to "Blog Articles",  root_path(anchor: 'blogarticles'), class: "nav-link" %>
	      </li>
    </ul>
      <ul class="navbar-nav mr-auto right" style="margin-right:0 !important">
	      <li class="nav-item ">
           <%= link_to "Download Resume", "nelson-gomez-resume2.pdf", class: "btn btn-primary orange btn"%>  
	      </li>
    </ul>
	</nav>
  <nav class="show-xs fixed-top">
        <div class="scrollmenu">
           <%= link_to "download resume", "nelson-gomez-resume2.pdf", class: "nav-link orange-text" %>
      <%=  link_to "about me", root_path(anchor: 'aboutme'), class: "nav-link" %>
       <%=  link_to "portfolio",  root_path(anchor: 'portfolio'), class: "nav-link" %>
      <%=  link_to "blog articles",  root_path(anchor: 'blogarticles'), class: "nav-link" %>


    </div>
  </nav>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <%= yield %>
  </body>
  <div class="footer">
    <br>
    <br>
    <div class="container">
      <div class="row y">

          <h4 class= " no-tb-marg fname"><%='Nelson Gomez'%></h4>
      </div>
      <div class="row y">
          <p class="no-tb-marg fsub "><%= 'nelsonremolonagomez@gmail.com' %> </p>
      </div>
      <div class="row y">
        
            <p class="no-tb-marg fsub"><%= '951-269-0566' %> </p>
    
      </div>
      <div class="row y">
          <div class="resume" style="margin-bottom:15px">
                <%= link_to "download resume", "nelson-gomez-resume2.pdf", class: "fsub orange-text", style: "margin:auto" %>
            </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4 socialmedia2" style="margin-top:5px">
          <%= link_to image_tag("facebook-logo-outline.png") , "http://www.facebook.com/nelgomez", class: 'socialmedia' %>  
            
          <%= link_to image_tag("twitter-social-outlined-logo.png") , "http://www.twitter.com/quinxed", class: 'socialmedia'  %>
          <%= link_to image_tag("linkedin-social-outline-logotype.png") , "https://www.linkedin.com/in/nelgomez/", class: 'socialmedia'  %>
          <%= link_to image_tag("medium.png") , "http://www.medium.com/@nelgomez", class: 'socialmedia socialmedia3' %>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  
</html>
